// alert("hi");
<% if defined? params[:type] == "all" %>

	$('#assign_quiz_button').html("<div class='dotted-border-header pull-right'><%= j(link_to 'Assign Quiz', assign_quiz_to_classrooms_path(@quiz_problem.quiz_id
)) %></div>");

<% end %>
$('#dimmer').unbind('click');
$('#problem_overlay').hide();
$('#dimmer').remove();
$('#quiz_problems').prepend("<%= j render("quizzes/quiz_problem", :quiz_problem => @quiz_problem) %>");
$('#quiz_problems_message').html("You successfully added a Quiz problem for Quiz ");
$('#no_qp_msg').hide();

