<div class="row">
	              
</div>
<div class="row">
	<div class="col-md-6">
		<h2>SmarterGrades Sets</h2>
		<ul class="col-list-2 overlay_list">
			
			<% @sg_problem_sets.each do |problem_set| %>
				<li><%= problem_set.name %>
					<%#= link_to "View Problem Types", "#", :class => "btn pull-right", :remote => true %>              
				</li>
			<% end %>
		</ul>
	</div>
	<div class="col-md-6">
		<h2>My Problem Sets</h2>
		<ul class="col-list-2 overlay_list">
			<li><%= link_to "Create New Problem Set", new_problem_set_path(@teacher)%></li>
			<% unless @my_problem_sets.blank? %>
				<%- @my_problem_sets.each do |problem_set| -%>
					<li>
						<table>
						<td style="width:80%;">
							<%= problem_set.name -%>
						</td>
						<td>
						<%= link_to "Edit Problem Set", edit_teacher_problem_set_path(@teacher, problem_set), :class => "btn pull-right" -%>    </td>   
						</table>       
					</li>
				<%- end -%>
			<% end %>
			
		</ul>
	</div>
</div>
