<div class="progress_bar">
	<div class="left"></div>
	<div class="middle">
		<div class="complete"></div>
		<div class="incorrect"></div>
		<div class="correct"></div>
		<div class="rest"></div>
	</div>
	<div class="right"></div>
</div>