<%= @problem_set.name %>
<div id='home' class='static-page'>
    <div class='home3' style="width:288px; height:370px">
        <div class='dotted-border-header-black' >
            <p><%= @problem_set.name %></p>
        </div>
        <div class="dotted-border">
            <p style="font-size: 40px;"><%= @problem_set.description %></p>
        </div>
    </div>
    <div class='home3' style="margin-left:28px">
        <div class='dotted-border-header-black' >
          <p>MAKE YOUR MATHS BETTER</p>
      </div>
      <div class="dotted-border">
        <div id='video_home'>
            <iframe src="http://www.youtube.com/embed/V-5HLNESatM" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
</div>
