<% ncols = 5 %>
<%= form_for(@quiz) do |f| %>
  <table class="quiz_form_table">
    <% @quiz_problems.each_slice(ncols) do |next_n| %>
      <tr>
        <% ncols.times do |i| %>
          <td>
            <%= render partial: 'quiz_problem_box_form',
            object: next_n[i] %>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </table>
<% end %>
