<% @problem_set.problem_types.each do |ptype| %>
	<% unless ptype.nil? %>
	    <li>
	    	<%= ptype.to_s %>
         	<%= link_to "Add to Quiz",  partial_create_quiz_path(ptype: ptype, quiz: @quiz.id, pset: @problem_set, type: "all_classes"), :class => "pull-right", method: :post, remote: :true %>
	    </li>
	<% end %>
<% end %>