<% @problem_set.problem_types.each do |ptype| %>
	<% unless ptype.nil? %>
	    <li>
	    	<%= ptype.to_s %>
         	<%= link_to "Add to Quiz", create_qp_for_all_path(ptype: ptype, quiz: @quiz.id, pset: @problem_set), :class => "pull-right", method: :post, remote: :true %>
         	 <!-- partial_create_quiz_path(ptype: ptype, quiz: @quiz.id, pset: @problem_set) -->
	    </li>
	<% end %>
<% end %>