<%# remember "quiz" is passed in by :object => (quiz) %>
<div class="problemscores">
  <div class=quizSmartScore style="background-color:#4545cf;">
    Your PScore for this quiz is 86
  </div>
    <% ptypes = [
      ["Convert to Improper Fractions", "84"],
      ["Convert to Mixed Fractions", "90"],
      ["Reduce Fractions", "57"],
      ["Fill Fractions",   "76"],
      ["Compare Like Fractions", "89"],
      ["Compare Unlike Fractions", "96"]] %>
    <% ptypes.each do |ptype| %>
      <li>
      <%= ptype.first %>
      <div class="pscore <%=pscore_class(ptype.last)%>"><%= ptype.last %></div>
      </li>
    <% end %>
  </ul>
</div>
