<div class='row-fluid problem_view_stats'>

<!-- <div class="stat" style="padding:0;">
    <ul>
      <li>DONE<div><%= @stat.count %></div></li>
      <li>CORRECT<div><%= @stat.correct %></div></li>
    </ul>
  </div>-->       
<div class='prob_grad_1'></div>
  <%= link_to_function "", 'hideProblem()', :class => 'pull-right exit_qu', :style=>'z-index:10;' %>
</div>
