<div id="walkthrough">
    <div id="intro_walk" style="display:none;">
        <p class="tooltipTitle">Walkthrough</p>
        <p>This is a Problem Set. Here, you can select which Problem Types to attempt, see your recent answer history for this problem set, your points and badges you have received so far as well as your progress and points you will get by attempting questions.</p>
        <br>
        <a href="javascript:;" class="next-step" style="float:right;">Next Step</a>
    </div>
    <div id="shelf_walk" style="display:none;">
        <p class="tooltipTitle">Your Shelf</p>
        <p>In this page, the colour of the shelf shows your progress on this particular problem set. The colour goes from red to green and finally to blue. Your goal is to make it blue and maintain it there.</p>
        <br>
        <a href="javascript:;" class="prev-step" style="float:left;">Prev Step</a>
        <a href="javascript:;" class="next-step" style="float:right;">Next Step</a>
    </div>
    <div id="history_walk" style="display:none;">
        <p class="tooltipTitle">Your History</p>
        <p>Here, you can see your last 10 attempted questions on this problem set.</p>
        <br>
        <a href="javascript:;" class="prev-step" style="float:left;">Prev Step</a>
        <a href="javascript:;" class="next-step" style="float:right;">Next Step</a>
    </div>
    <div id="bbor_walk" style="display:none;">
        <p class="tooltipTitle">Problem Types</p>
        <p>Click on Enter to start working on this Problem Type. The colour of the border shows your progress on this problem type. It goes from red to green and finally to blue. Your goal is to make it blue and maintain it there.</p>
        <br>
        <a href="javascript:;" class="prev-step" style="float:left;">Prev Step</a>
        <a href="javascript:;" class="next-step" style="float:right;">Next Step</a>
    </div>
    <div id="correct_walk" style="display:none;">
        <p class="tooltipTitle">Points for Correct</p>
        <p>You get these many points for getting and answer correct!</p>
        <br>
        <a href="javascript:;" class="prev-step" style="float:left;">Prev Step</a>
        <a href="javascript:;" class="next-step" style="float:right;">Next Step</a>
    </div>
    <div id="incorrect_walk" style="display:none;">
        <p class="tooltipTitle">Points for Wrong</p>
        <p>You can even get points for getting an answer wrong as long as you keep trying!</p>
        <br>
        <a href="javascript:;" class="prev-step" style="float:left;">Prev Step</a>
        <a href="javascript:;" class="next-step" style="float:right;">Next Step</a>
    </div>
    <div id="open_walk" style="display:none;">
        <p class="tooltipTitle">Restart the Walkthrough</p>
        <p>Click here to restart the Walkthrough</p>
        <br>
        <a href="javascript:;" class="prev-step" style="float:left;">Prev Step</a>
        <a href="javascript:;" class="next-step" style="float:right;">Next Step</a>
    </div>
    <div id="done_walk" style="display:none;">
        <p class="tooltipTitle">Start!</p>
        <p>Start Working, get Badges and Points!!! Click on the close button to end this walkthrough.</p>
        <br>
        <a href="javascript:;" class="prev-step" style="float:left;">Prev Step</a>
    </div>
</div>
<script>
walkthrough_pset();
</script>
