<div id=logo>Choose problem types</div>
<p class=desc>The ability to make lasting quizzes and the analytics of the site are pending.  Select the problem types you want for this temporary quiz.
<%= render 'makequiz' %>
