<% unless @problem.is_a? QuestionWithExplanation %>
  <p>We're sorry, this problem doesn't seem to have an explanation.</p>
<% else %>
  <div class="explanation">
  <% @problem.explain.each do |subproblem| %>
    <div class="subproblem">
    <%= render :partial => 'problem/problem', :object => subproblem, :locals => {:partialdir => 'problem'} %>
    </div>
  <% end %>
  </div>
<% end %>

