<h1>Your quiz will select from the following problems</h1>
<% @problems.each do |problem| %>
	<div><%= problem.to_s %></div>
<% end %>
<%= link_to "Choose other problems", :action => :choose %> <br>
<%= link_to "Start Quiz!", root_path %>
