doc/*
db/schema.rb
db/sphinx/*
config/database.yml
tmp/*
public/system/*
.bundle
db/*.sqlite3
log/*.log
log/searchd.development.pid
tmp/**/*
tags
vendor/bundle/*
.sass-cache
.*.swp
.*.swo
allfiles.txt
TODO
public/assets/*
.elasticbeanstalk

