<div id="chart_div_2_class_pset" style="width: 500px; height: 500px;"><%= render 'shared/google_visual_piechart', :array => @chart_data_2, :div => "chart_div_2_class_pset", :title => "Students performance"  %></div>

<div id="chart_div_3_class_pset" style="width: 900px; height: 500px;"><%= render 'shared/google_visual_barchart', :array => @chart_data_3, :div => "chart_div_3_class_pset", :title => "Students performance", :vAxis_title => "Problem Types" %></div>