<div id="new_classroom_Modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="new_classroom_modal_Label" aria-hidden="true" width="80%">
    <div class="modal-header">
        <!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button> -->
        <!-- <h3 id="new_classroom_modal_Label">Create / Join Classroom</h3> -->
    </div>
    <div class="modal-body">
        <div class="well">
            <%= render "new_classroom_form", :@classroom => @classroom %> 
        </div>
        <h3>Or</h3>
        <div class="well">
            <%= render "join_classroom_form" %>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
</div>