<div class="row-fluid" id="overall_details">
	<div >
		<%= render 'classrooms/overall_classroom_chart', :@chart_data_1 => @chart_data_1 %>
	</div>
	<div >
		<%= render "classrooms/top_weak_students", :@top_weak_students => @top_weak_students %>
	</div>
</div>