<div class="row-fluid" id="overall_details">
	<div class="span4" id="overall_chart">
		<%= render 'classrooms/overall_classroom_chart', :@chart_data_1 => @chart_data_1 %>
	</div>
	<div class="span4" id="overall_weak_students">
		<%= render "classrooms/top_weak_students", :@top_weak_students => @top_weak_students %>
	</div>
</div>