<h2>Students</h2>
<div>
	
	<% @top_weak_students.each do |student| %>
	<div class='row' style='border:1px solid #ccc; padding:3px;'>
		<%= link_to "#{student[1]}", details_path(@classroom.id, type: 'students', :student_id => student[0]) %>
		<div style='float:right'>
			<% unless student[2]== -1 %>
				<%= student[2].to_s + "%" %>
			<%else%>
				<%= "Not Attempted" %>
			<%end%>
		</div>
	</div>
	<% end %>
	
</div>