
<div class="row">
	<div class="col-md-8" id='topics_list'>
		<div>
			<%= render "topics/topics", :topics => @topics, :user => current_user, :classroom_id => @classroom.id %>
		</div>

	</div>
	<div class="col-md-4">
		<h1>Recent Topics</h1>
		<%- unless @recent_topics.blank? -%>
			<%- @recent_topics.first(5).each do |recent_topic| -%>
				<p><%= link_to	recent_topic.title, user_topic_path(current_user, recent_topic, classroom_id: @classroom_id) %></p>
			<%- end -%>
		<%- else -%>
			<p>No Recent Topics</p>
		<%- end -%>

		<h1>Recent Comments</h1>
		<%- unless @recent_comments.blank? -%>
			<%- @recent_comments.first(5).each do |recent_comment| -%>
				<p><%= recent_comment.content_html %></p>
			<%- end -%>
		<%- else -%>
			<p>No Recent Comments</p>
		<%- end -%>
	</div>
</div>
<div class='row'>
		<div id="new_topic_form">
			<div style='margin-left:auto; margin-right:auto; width:80%'>
				<h4>Add a New Post</h4>

				<%= render "topics/form_for_new_topic", :user => current_user, :classroom_id => @classroom.id, :topic => @topic %>
			</div>
		</div>
	</div>
<div id='test'></div>

<script>
bclr_pset();
</script>

<!-- <div class="row-fluid">
	<h3>Comments: </h3>
	<h4>New Comment </h4>
	<div class="row-fluid" id="new_comment_form">
		<%#= render "comments/form_for_new_comment", :user => current_user, :classroom => @classroom, :comment => @comment %>
	</div>
	<div class="row-fluid" id="comments">
		<%#= render "comments/comments", :comments => @comments %>
	</div>
</div> -->