<%= form_tag :action => 'create' do %>
	<%= hidden_field_tag 'problem_id', @problem.id %>
  <%= render :partial => 'problem/problem', :object => @problem, :locals => {:partialdir => 'problem'} %>
	<div class="actions">
		<%= submit_tag "Submit Answer" %>
	</div>
<% end %>
