<h3>Problem History</h3>
<% @problemanswers.each do |problemanswer| %>
  <div>
    <% corr = correct_class(problemanswer) %>
    <%= link_to "#{problemanswer.problem.to_s}", problemanswer %>
    <%= image_tag "#{correct_class(problemanswer)}_circ_small.png" %>
  </div>
<% end %>
