<div class='well sidebar-nav'>
  <ul class='nav nav-list'>
    <li class='nav-header'>Problem History</li>
    <% @problemanswers.reverse_each do |problemanswer| %>
      <li>
        <% if problemanswer.correct %>
          <%= link_to raw("<i class='icon-ok'></i> #{problemanswer.problem.to_s}"), problemanswer %>
        <% else %>
          <%= link_to raw("<i class='icon-remove'></i> #{problemanswer.problem.to_s}"), problemanswer %>
        <% end %>

      </li>
    <% end %>
  </ul>
</div>
