<h1>Your are being quizzed!</h1>
<% unless flash[:notice].nil? %>
	<p><%= flash[:notice] %></p>
<% end %>

<% unless flash[:last_correct].nil? %>
	<% if flash[:last_correct] %>
		<div class=right_answer>You got the last one right!</div>
	<% else %>
		<div class=wrong_answer>You missed the last question. <%= link_to "See why", @last_prob %></div>
	<% end %>
<% end %>

<%= render 'form' %>

<%= link_to 'Back', problemanswers_path %>
