<div id="quizheader">
<h1><%= @problem.to_s %></h1>
</div>
<br>
<div id="quiz">
<% unless flash[:last_correct].nil? %>
	<% if flash[:last_correct] %>
		<div class="correct">You got the last one right!</div>
	<% else %>
		<div class="incorrect">You missed the last question. <%= link_to "See why", @last_prob %></div>
	<% end %>
<% end %>

<%= render 'form' %>

</div>
