<% if flash[:last_correct] == false %>
	<p>It seems you got the last problem incorrect :(</p>
<% end %>

<% @problem.text.each do |elt| %>
	<% if elt.is_a? MultiHTMLObj %>
    <%= render :partial => 'multihtmlobj', :object => elt %>
	<% else %>
    <%= render :partial => 'htmlobj', :object => elt %>
	<% end %>
<% end %>

<%= link_to "More Problems", root_path %>
