<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <h1>Thanks for signing up for SmarterGrades.</h1>
    <p>
      Please <%= link_to "Click here", "http://ec2-54-254-200-167.ap-southeast-1.compute.amazonaws.com/users/#{@user.id}/confirm?token=#{@user.confirmation_token}
      ", :method => :post %> to complete your registration! and put code <h3><%= @user.confirmation_code %></h3>
    </p>

    <p>
      Thanks,<br>
      Team SmarterGrades
    </p>
  </body>
</html>