<!DOCTYPE html>
<html>
  <head>

  </head>
  <body>
    <h1>
      Thanks for signing up for SmarterGrades
    </h1>
    <p>
      The last step is to enter the code <h2><%= @user.new_code %></h2> at <%= @user.confirmation_url %>
    </p>
  </body>
</html>
