<div class=permutationDrag>
  <% permutationdrag.items.each_index do |i| %>
    <div class="<%= permutationdrag.fixed?(i) %>"><%= permutationdrag.items[i].to_s %></div>
  <% end %>
  <%= hidden_field_tag "#{permutationdrag.name}", permutationdrag.items.join(',') %>
</div>
