<div class=permutationDrag>
  <% permutationdrag.items.each_index do |i| %>
    <div> <%= permutationdrag.items[i] %>
      <%= hidden_field_tag "#{permutationdrag.name}_#{i}", permutationdrag.items[i] %>
    </div>
  <% end %>
</div>
<script>
  $('.permutationDrag').permutationDrag();
</script>
