<% unless comment.replies.blank? %>
	<div >
		<%- comment.replies.each do |comment| -%>
    		<div class='reply' id="child_comment_<%= comment.id %>">
	        	<%= render "comments/reply", :comment => comment %>
    		</div>
		<%- end -%>
	</div>
<% end %>