<% count = 0 %>
<% current_user.badges.order("created_at DESC").each do |badge| %>
	<% if count < 5 %>
		<p class = "<%= badge.badge_key %> badges"></p>
		<% count = count +1 %>
	<% end %>  
<% end %>
<script>badges_look()</script>