

	<% count = 0 %>
	<% current_user.badges.order("created_at DESC").each do |badge| %>
		<% if count < 5 %>
    		<div class = "<%= badge.badge_key %> badges badge_<%= badge.level %>">
    			<div class='b_image'></div>
    		</div>
    		<% count = count +1 %>
    	<% end %>  
	<% end %>
	

<script>badges_look()</script>
