<% answer ||= @answer %>
<% instance ||= @instance %>
<li>
	<% if answer.correct %>
		<div class="correct_hist">
	<% else %>
		<div class="incorrect_hist">
	<%end%>
	<%= link_to (answer.problem_type.to_s), 
			    problem_path(id: answer.id),
			    remote: true %>
	
		<div class="with_tooltip pull-right"
			style="width:40px; text-align:center;" 
      		data-original-title="<%= acquired_points %>"
      	><%= answer.points.to_i %></div>
	</div>
</li>