<ul class="dropdown-menu">
	<% current_user.news_feeds.order("created_at DESC").each do |news_feed| %>
        	<li><%= news_feed.content %></li>
    <% end %>    	
        	<li><%= "Welcome to SmarterGrades!" %></li>
      	</ul>