<ul class="dropdown-menu">
	<% current_user.news_feeds.order("created_at DESC").each do |news_feed| %>
        	<li><%= news_feed.content %></li>
    <% end %>    	
        	<li><%= "Welcome to SmarterGrades!" %></li>
</ul>

<script>

//alert(lisize);

$(".dropdown-menu li").ajaxStop(getLinkCount());
function getLinkCount(){
		
    var lisize=$(".dropdown-menu li").size();
	// if($(".dropdown-menu li").size()>lisize1)
	// {
	// 	alert(lisize1);
	// }
	$(".dropdown-menu li").ajaxStart(detect(lisize));
	function detect(lisize1)
	{    var lisize2=$('.dropdown-menu li').size();
			
		if(lisize2>lisize1)	
		{
			$(".dropdown-toggle2").addClass("classon");
}
}	
}



</script>
