
	<% current_user.news_feeds.order("created_at DESC").each do |news_feed| %>
        	<li class='notf'><%= news_feed.content %></li>
    <% end %>    	
    <li class='notf'><%= "Welcome to SmarterGrades!" %></li>
