<ul class="dropdown-menu" style="background-color:white;">
        	<li><%= @student.news_feeds %></li>
        	<li><%= "qwer" %></li>
        	<li><%= "asdf" %></li>
        	<li><%= "zxcv" %></li>
      	</ul>