<% @arr7 = [['Problem Types','Correct Percentage']]%>
<% pset.problem_types.each do |ptype|%>
  <% @ans_right = ptype.answers.select{|v| v.correct == true }%>
  <% @ans_wrong = ptype.answers.select{|v| v.correct == false }%>
  <% if (@ans_wrong.count + @ans_right.count) > 0 %>  
    <% @arr7.push([ptype.name, (@ans_right.count*100)/(@ans_right.count+@ans_wrong.count)]) %>
  <% end %>  
<% end %>
<% if @arr7.count == 1%>
  <%= @arr7.push(["Haven't Attempted",100]) %>
<% end%>
  <p style="font-size:5px;" >v</p>
<%id="chart_div_2_pset"%>
       
    <div id="chart_div_2_pset" style="width: 900px; height: 500px;"><%= render 'shared/barchart', :@arr => @arr7, :@id => id %></div>





<% @count = 0 %>
<% @arr6 = [['Problem Types','Wrong Answers']]%>
  <% pset.problem_types.each do |ptype|%>
    <% @ans_wrong = ptype.answers.select{|v| v.correct == false }%>
    <% @arr6.push([ptype.name, @ans_wrong.count]) %>
    <% @count = @count + @ans_wrong.count %>
  <% end %> 
<% id = "chart_div_1_pset"%>
<%if @count == 0 %>
  <%= "No Wrong Answers in this Chapter" %>
<% else %>
  <div id="chart_div_1_pset" style="width: 900px; height: 500px;"><%= render 'shared/piechart', :@arr => @arr6, :@id => id %></div>  
<% end %>


