<div class='row'>
<div id="chart_div_2_pset" class='col-md-6' style="height: 300px;"><%= render 'shared/google_visual_barchart', :array => @chart_data_1, :div => "chart_div_2_pset", :title => "Percentage of correct answers to the Problem Types", :vAxis_title => "Problem Types" %></div>

<div id="chart_div_1_pset" class='col-md-6' style="height: 300px;"><%= render 'shared/google_visual_piechart', :array => @chart_data_2, :div => "chart_div_1_pset", :title => "Wrong answers to the problem_types" %></div>  
</div>

