

<ul class=column-list>
	<% if @history.empty? %>
	<li>Problems will show up here as you do them</li>
	<% else %>
	<%= render :partial => 'history_ans', :collection => @history, :as => :answer%>
	<% end %>
</ul>
