

<ul class=column-list>
	<% if @history.empty? %>
	<li>Problems will show up here as you do them</li>
	<% else %>
	<%= render :partial => 'history_ans', :collection => @history, :as => :answer%>
	<% end %>
	<li><%= link_to 'Click for Detailed History', progress_student_path(@student.id) %></li>
</ul>
