<ul class=column-list>
	<li class=list-header>Assignments</li>
	<% if @active_assignments.nil? || @active_assignments.empty? %>
	<li>You have no pending assignments</li>
	<% else %>
		<% @active_assignments.each do |assignment| %>
	<li>Current Score: <b><%= assignment.score %></b> &gt <%= assignment.name %></li>
		<% end %>
	<% end %>
</ul>

<ul class=column-list>
	<li class=list-header>History</li>
	<li>Yesterday you spent 12 minutes on Chapter 3</li>
	<li>2 days ago you spent 15 minutes on chapter 3</li>
</ul>
