<% stat = pset_list_box %>
<% pset = stat.problem_set %>

<div class='list_box pset_list_box'>
  <p><%= pset.name %></p>
 

</div>
<div class='start_pset'>
	<%= link_to "Start Now", pset_path(:name => pset.id) %>
	<div class=right_triangle></div>
</div>
