<div id="walkthrough">
	<div id="type-modal" style="display:none;">
		<p class="tooltipTitle">Walkthrough Type Modal</p>
        <p>Each step has numerous configuration options to fine-tune its position and appearance.  This step demonstrates the "modal" option which doesn't highlight any part of the page.system for designing interactive, multimedia, educational walkthroughs.</p>
        <br>
        <a href="javascript:;" class="next-step" style="float:right;">Next Step</a>
	</div>
</div>
<div id="methods">
        <div id="method-show" style="display:none;">
                <p class="tooltipTitle">Method show</p>
                <p>This method allows you to open page walkthrough</p>
        <p><pre>$.pagewalkthrough('show', target)</pre></p>
        <p>Target is your walkthrough ID, i.e: #selector</p>
        <br>
        <a href="javascript:;" class="next-step" style="float:right;">Next Step</a>
        </div>
</div>
<div id="callbacks">
        <div id="callback-beforeshow-aftershow" style="display:none;">
                <p class="tooltipTitle">onBeforeShow &amp; onAfterShow </p>
        <p>This callback will be executed only on before show &amp; on after show the first step</p>
        <br>
        <a href="javascript:;" class="next-step" style="float:right;">Next Step</a>
        </div>
</div>

<script>
</script>