<div id="walkthrough">
    <div id="intro_walk" style="display:none;">
        <p class="tooltipTitle">Walkthrough</p>
        <p>This is your Home Page. Here, you can select which Problem Set to attempt, see your recent answer history, your points and badges you have received so far.</p>
        <br>
        <a href="javascript:;" class="next-step" style="float:right;">Next Step</a>
    </div>
    <div id="shelf_walk" style="display:none;">
        <p class="tooltipTitle">Your Shelf</p>
        <p>You can see all your information at one glance on your Shelf: Your points, badges as well as links to your account. The colour of the shelf shows your progress. It goes from red to green and finally to blue! Your aim is to make the shelf blue and maintain it as such.</p>
        <br>
        <a href="javascript:;" class="prev-step" style="float:left;">Prev Step</a>
        <a href="javascript:;" class="next-step" style="float:right;">Next Step</a>
    </div>
    <div id="account_walk" style="display:none;">
        <p class="tooltipTitle">Your Account</p>
        <p>Click here to visit your account. You can change your password there as well as your display picture.</p>
        <br>
        <a href="javascript:;" class="prev-step" style="float:left;">Prev Step</a>
        <a href="javascript:;" class="next-step" style="float:right;">Next Step</a>
    </div>
    <div id="points_walk" style="display:none;">
        <p class="tooltipTitle">Your Points</p>
        <p>These are the points you have received so far. Work on more problems and earn more badges to get more points!</p>
        <br>
        <a href="javascript:;" class="prev-step" style="float:left;">Prev Step</a>
        <a href="javascript:;" class="next-step" style="float:right;">Next Step</a>
    </div>
    <div id="notif_walk" style="display:none;">
        <p class="tooltipTitle">Notifications</p>
        <p>Click on the envelope to see your latest notifications.</p>
        <br>
        <a href="javascript:;" class="prev-step" style="float:left;">Prev Step</a>
        <a href="javascript:;" class="next-step" style="float:right;">Next Step</a>
    </div>
    <div id="shape_1_walk" style="display:none;">
        <p class="tooltipTitle">Badges - Tetrahedrons</p>
        <p>Click to see all of your Tetrahedron badges. If you get a Tetrahedron badge, you get a bonus of 100 points!</p>
        <br>
        <a href="javascript:;" class="prev-step" style="float:left;">Prev Step</a>
        <a href="javascript:;" class="next-step" style="float:right;">Next Step</a>
    </div>
    <div id="shape_2_walk" style="display:none;">
        <p class="tooltipTitle">Badges - Cubes</p>
        <p>Click to see all of your Cube badges. If you get a Cube badge, you get a bonus of 1000 points!!</p>
        <br>
        <a href="javascript:;" class="prev-step" style="float:left;">Prev Step</a>
        <a href="javascript:;" class="next-step" style="float:right;">Next Step</a>
    </div>
    <div id="shape_3_walk" style="display:none;">
        <p class="tooltipTitle">Badges - Octahedrons</p>
        <p>Click to see all of your Octahedron badges. If you get a Octahedron badge, you get a bonus of 5000 points!!!</p>
        <br>
        <a href="javascript:;" class="prev-step" style="float:left;">Prev Step</a>
        <a href="javascript:;" class="next-step" style="float:right;">Next Step</a>
    </div>
    <div id="shape_4_walk" style="display:none;">
        <p class="tooltipTitle">Badges - Dodecahedrons</p>
        <p>Click to see all of your Dodecahedron badges. If you get a Dodecahedron badge, you get a bonus of 20000 points!!!!</p>
        <br>
        <a href="javascript:;" class="prev-step" style="float:left;">Prev Step</a>
        <a href="javascript:;" class="next-step" style="float:right;">Next Step</a>
    </div>
    <div id="shape_5_walk" style="display:none;">
        <p class="tooltipTitle">Badges - Icosahedrons</p>
        <p>Click to see all of your Icosahedron badges. If you get a Icosahedron badge, you get a bonus of 50000 points!!!!!</p>
        <br>
        <a href="javascript:;" class="prev-step" style="float:left;">Prev Step</a>
        <a href="javascript:;" class="next-step" style="float:right;">Next Step</a>
    </div>
    <div id="history_walk" style="display:none;">
        <p class="tooltipTitle">Your History</p>
        <p>Here, you can see your last 10 attempted questions.</p>
        <br>
        <a href="javascript:;" class="prev-step" style="float:left;">Prev Step</a>
        <a href="javascript:;" class="next-step" style="float:right;">Next Step</a>
    </div>
    <div id="bbor_walk" style="display:none;">
        <p class="tooltipTitle">Problem Sets</p>
        <p>Click on Enter to start working on the respective Problem Set</p>
        <br>
        <a href="javascript:;" class="prev-step" style="float:left;">Prev Step</a>
        <a href="javascript:;" class="next-step" style="float:right;">Next Step</a>
    </div>
    <div id="pbar_walk" style="display:none;">
        <p class="tooltipTitle">Progress Bar</p>
        <p>This shows you your progress on this Problem Set. It goes from red to green and finally to blue. Your aim is to make it blue and maintain it as such!</p>
        <br>
        <a href="javascript:;" class="prev-step" style="float:left;">Prev Step</a>
        <a href="javascript:;" class="next-step" style="float:right;">Next Step</a>
    </div>
    <div id="open_walk" style="display:none;">
        <p class="tooltipTitle">Restart the Walkthrough</p>
        <p>Click here to restart the Walkthrough</p>
        <br>
        <a href="javascript:;" class="prev-step" style="float:left;">Prev Step</a>
        <a href="javascript:;" class="next-step" style="float:right;">Next Step</a>
    </div>
    <div id="done_walk" style="display:none;">
        <p class="tooltipTitle">Start!</p>
        <p>Start Working, get Badges and Points!!! Click on the close button to end this walkthrough.</p>
        <br>
        <a href="javascript:;" class="prev-step" style="float:left;">Prev Step</a>
    </div>
</div>
<script>
jqwalk();
walkthrough_student();
</script>
