
<%= render 'shared/shelf', :@student => current_user, :@badges => @badges %>

<div>
<div style='float:left'>
  <div class='dotted-border-header'>
    <h4>Progress Center<h4>
  </div>
  <div class='dotted-border' style='height:1000px; width:252px'>
    <%= render 'progress_center' %>
  </div>
</div>

<div id='bbor'>
  <% @pset_instances.each do |i| %>
    <%= render :partial => 'pset_list_box', :object => i %>
  <% end %>
</div>


</div>
<script>
dbord("pset");
</script>
