// console.log("Checking for problem overlay:");
//ar $es = initProblemDropdown();
// console.log("rendering problem:");
var mylist = document.getElementById("myList");
mylist.html('<option>ABCD</option>');
initProblem();