<%- unless topics.blank? -%>
	<%- topics.reverse.each do |topic| -%>
	<div class='the_topic' id='topic_<%=topic.id%>'>
		<%= render 'topics/topic', :topic => topic, :user => user, :classroom_id => classroom_id %>
	</div>
	<%- end -%>
<%- end -%>