<div class="problem_name">
  <h2><%= @problem_type.to_s %></h2>
<%= submit_tag "Check Answer", :class => 'pull-right button-blue' %>
</div>

<%= render "nameless_form", :@problem => @problem, :@answer => @answer %>