<%# I will display a QuestionBase type object, either with or without the answer %>
<%# IMPORTANT LOCAL VARIABLES (PASS THESE BABIES IN THROUGH :locals => {hash})
      problem says: I better be a QuestionBase derivative!
      partialdir (optional): I will display each HTMLObj individually with the templates in partialdir. If none
         is provided, I will use the templates in the 'problem' view directory. Basically see the code
    %>

<% partialdir ||= 'problems' %>
<div class="problem">
  <% problem.text.each do |elt| %>
    <div class="problem-elt">
      <%= render :partial => 'problems/problem_elt', :object => elt, :locals => {:partialdir => partialdir} %>
    </div>
  <% end %>
</div>
