<% if problem_elt.is_a? InlineBlock %>
  <div class=inline-block>
    <% problem_elt.text.each do |elt| %>
        <%= render :partial => 'problems/problem_elt', :object => elt %>
    <% end %>
  </div>
<% elsif problem_elt.is_a? MultiHTMLObj %>
  <%= render :partial => "#{@partial_dir}/multihtmlobj", :object => problem_elt %>
<% elsif problem_elt.is_a? GeometryBase %>
  <%= render :partial => "#{@partial_dir}/geometryfield", :object => problem_elt %>
<% else %>
  <%= render :partial => "#{@partial_dir}/htmlobj", :object => problem_elt %>
<% end %>
