<div class="side-notes">
  <br>
  <div id="notepadcover" style="position:relative; display:inline-block">
    <%= render 'problems/left_notepad', :@answer => @answer %>
    <%= render 'notepad/calculator' %>
  </div>
</div>
<script> notepad_new(); </script>
<script>
  $(function(){
    $('#note').jScrollPane({hideFocus:true});
  });
</script>
