<div class=side-notes>
  <br></br>
  <div id=notepadcover style="position:relative; display:inline-block">
    <div class=calculations style="position:absolute; width:390px; height:270px">
      <div class=np_head style="position:absolute">
        <h4>Notes</h4>
        <div id=drawnp class=tbicons>
          <i class="icon-pencil"></i>
        </div>
        <input type=color id=npcolorpicker></input>
      </div>
      <div class=lborg></div>
      <div class=rborg></div>

      <div id="note" style="position:relative">
        <div id=npPane style="position:absolute; top:0px; left:0px; width:370px;"></div>
        <canvas id="notepad" height=222px width=346px border=2px>
        Your browser does not support the HTML5 Canvas feature. This app uses new HTML5 features and will only work on the latest versions of Firefox, Safari or Chrome (and maybe Internet Explorer 9).
        </canvas>
        <input type="text" id="notes" maxlength=41 style="background-color:transparent; position:absolute; height:15px; left:0px; top:13px; width:338px">
      </div>
      <%= hidden_field_tag 'npstr', "" %>
    </div>
    <div class=results style="position:absolute; left:440px; width:270px; height:270px">
      <div class=lborb></div>
      <div class=rborb></div>
      <div style="position:absolute; left:30%; top:-20px;">
        <h4>Calculations</h4>
      </div>

      <div id=calc style="position:relative width:250px; height:250px">
        <br></br>
        <label for=np_num1 >1st Number</label>
        <input id=np_num1 class=np_nums>
        <br></br>
        <div id=np_ops>
          <div class="tbicons plug" id=np_add>
            <i class="icon-plus" ></i>
          </div>
          <div class="tbicons plug" id=np_sub> 
            <i class="icon-minus" ></i>
          </div>
          <div class="tbicons plug" id=np_mult> 
            <i class="icon-remove" ></i>
          </div>
        </div>
        <br></br>
        <label for=np_num2>2nd Number</label>
        <input id=np_num2 class=np_nums>
        <br></br>
        <%= link_to_function "Create", "", :class => 'center_btn button-blue', :id => "cr_opform" %>
      </div>
      <div id=ops_form></div>
      <br></br>
      <%= link_to_function "Save", "", :class => 'center_btn button-blue', :id => "sv_opform" %>
    </div>
  </div>
</div>
<script> notepad_new(); </script>
<script>
  $(function(){
    $('#note').jScrollPane({hideFocus:true});
  });
</script>
