<div class=row-fluid>
  <h3 style="display:inline-block;">Learning</h3>
  <ul class="breadcrumb">
    <li><b>6th Grade </b><span class="divider">&gt</span></li>
    <li><b>Overview </b><span class="divider">&gt</span></li>
    <li><b><%= @quiz.name %> </b><span class="divider">&gt</span></li>
    <li class=active>Overview</li>
  </ul>
</div>
