<% unless merit.blank? %>
	<% if user_id == merit.student_id %>
			<small style="color: black; width:50px; float:right">
				<div class='merit_show'></div>
				<p style='font-size:10px; float:right'><%= merit.name %></p>
			</small>
	<% end %>
<% end %>