<p>Nice job!</p>
<ul class='horizontal centered'>
	<li><%= link_to_function "Back to answer", "hideExplanation()", :class => "button-blue" %></li>
	<li><%= link_to "Try this again", '#', :class => "button-blue try_again", :remote => true %></li>
</ul>