<% multitextfield.length_from_hash(response) # set the length for the actual response %>
<div class=inline-block>
  <% multitextfield.each_field do |field| %>
    <%= render_tohtml(local_assigns, field) %>
  <% end %>
</div> 
