Hey <%= @user.name %>, your registration is almost done.  Just enter the code we emailed you below:
<%= form_for @user do |f| %>
  <%= f.text_field :confirmation_code, :placeholder=>"Confirmation Code" %> <span id="user_confirmation_code_e"></span>
<% end %>

