<div class="modal hide" id="registerModal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h2>Register</h2>
  </div>
  <div class="modal-body" style="font-family:SansSerif">
    <%= render :partial => 'users/new' %>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Close</a>
  </div>
</div>
