<p>
Welcome to SmarterGrades! Right now our only curriculum available is 6th grade maths following the NCERT textbooks.  If this applies to you, please register and try out our problems!  All feedback is appreciated, and should be emailed to contact@smartergrades.com
</p>
<%= render :partial => 'users/form' %>
