<div style="margin-bottom: 10px; padding: 5px; border: 1px solid gray; background-color: buttonface;">
  <form action="">
    <span> Select time units: </span>
    <select style="font-size: 12px" onchange="changeTimeUnits(this.value)">
      <option value=0>Date</option>
      <option value=1>Week</option>
      <option value=2>Month</option>
    </select>
  </form>
</div>
<div id="visualization" style="width: 800px; height: 400px;"></div>
