<p>
We're sorry, but you clicked on an invalid confirmation link!  Try the following steps:
</p>
<ol>
  <li>
  Make sure you clicked on the link from the <b>most recent</b> confirmation email we sent you.
  </li>
  <li>
  Check your spam folder for the confirmation email from us.
  </li>
  <!--li>
  Send a new confirmation email 
  </li-->
  <li>
  Contact us for additional support at support@smartergrades.com  
  </li>
</ol>
