<%#= form_tag({:action => 'change_password', :id => current_user.id}, :method => 'post', :autocomplete => "off") do %>
<!--   <div class=row-fluid id="change_password-disable">
    <%# unless flash[:error].nil? %>
      <div><%#= flash[:error] %></div>
    <%# end %>
    <div class=formfield>
      <%#= label_tag 'old_pass', 'Old Password' %>
      <%#= password_field_tag 'old_pass', nil, :placeholder => "Password" %> <span id="user_password_e"></span>
    </div>

    <div class=formfield>
      <%#= label_tag 'password', 'New Password' %>
      <%#= password_field_tag 'password', nil, :placeholder => "Password" %> <span id="user_password_e"></span>
    </div>

    <div class=formfield>
      <%#= label_tag 'password_confirmation', "New Password Confirmation" %>
      <%#= password_field_tag 'password_confirmation', nil, :placeholder => "Password" %> <span id="user_password_confirmation_e"></span>
    </div>
    <%#= submit_tag "Change Password", :class => "btn btn-large btn-success disable-on-click" %>
  </div>
 --><%# end %>
