<div id=logo><%= @user.name %></div>
<div class=row-fluid>
  <div id=stats class=span9>
    <%= render :partial => 'users/stats' %>
  </div>
  <div id=problemhist class=span3>
    <%= render :partial => 'problemanswers/history', :locals => {:problemanswers => @problemanswers} %>
  </div>
</div>
