    <div id="social">
    	<div class="fb-like" data-href="http://facebook.com/smartergrades" data-send="true" data-width="150" data-show-faces="true" data-font="lucida grande"></div>
    	<a href="https://twitter.com/smartergrades" class="twitter-follow-button" data-show-count="true" data-lang="en">Follow</a>
    	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
