<ul>
</ul>

<ul style="float:right;">
	<li class=switch-to><%= link_to "LOG IN", "#logIn", "data-toggle"=>"modal" %></li>
	<li class=switch-to-blue><%= link_to "SIGN UP", "#SignUp", "data-toggle"=>"modal" %></li>
</ul>

<%= render 'shared/log_in' %>
<%= render "users/signup" %>