<%= content_for :head do %>
  <%= javascript_include_tag "drawtools" %>
<% end %>
<button id="protractor">Protractor</button>
<button id="compass">Compass</button>
<input type="text" id="circlesize">
<input type="checkbox" id="usecirclesize">
<button id="ruler">Ruler</button>
<button id="line">Line</button>
<button id="clear">Clear</button>
<div id="message"></div>
<canvas id="canvas" height="400" width="550"> 
Your browser does not support the HTML5 Canvas feature. This app uses new HTML5 features and will only work on the latest versions of Firefox, Safari or Chrome (and maybe Internet Explorer 9).         
</canvas>   
<div id="shapes"></div>

