<!--<div id='logos' style="margin-top:-90px">
<img src="/assets/ITG-logo.png"/>
<br>
<img src="/assets/ult.png"/>-->

<div style="margin-top:-30px; zoom:0.8">
<%= render "shared/logo" %>
</div>
<div style='margin-top:20px;text-align:center'>
	<div style='margin-left:auto; margin-right:auto; width:408px;'>
<div id="home_students" style='position:relative'>
    <img src="/assets/boy.png"/>
    <img src="/assets/girl.png"/>
	<%= link_to "SIGN UP", "#SignUp", "data-toggle" => "modal", :class => "sign_up_home"%>
	<p id="beta_test" style="position:absolute">BETA</p>
    <img src="/assets/teacher.png"/>
    <img src="/assets/principal.png"/>
</div>
</div>
</div>
<!--</div>-->
