<%= render "shared/logo" %>
<div id="home_students">
    <img src="/assets/boy.png"/>
    <img src="/assets/girl.png"/>
</div>
<%= link_to "SIGN UP", "#register", "data-toggle" => "modal", :class => "sign_up_home"%>
<div id="home_teachers">
    <img src="/assets/teacher.png"/>
    <img src="/assets/principal.png"/>
</div>
