<!--<div id='logos' style="margin-top:-90px">
<img src="/assets/ITG-logo.png"/>
<br>
<img src="/assets/ult.png"/>-->

<div style="margin-top:-30px">
<%= render "shared/logo" %>
</div>
<div style='margin-top:20px; position:relative; text-align:center'>
<div id="home_students" style='position:absolute;'>
    <img src="/assets/boy.png"/>
    <img src="/assets/girl.png"/>
</div>
<div id="sign_up_big" style='position:absolute; left:200px'>
<%= link_to "SIGN UP", "#SignUp", "data-toggle" => "modal", :class => "sign_up_home"%>
<p id="beta_test" style="position:absolute">BETA</p>
</div>
<div id="home_teachers" style="position:absolute; right:0px;">
    <img src="/assets/teacher.png"/>
    <img src="/assets/principal.png"/>
</div>
</div>
<!--</div>-->
