<%= render "shared/logo" %>
<div id="home_students">
    <img src="/assets/boy.png"/>
    <img src="/assets/girl.png"/>
</div>
<div id="sign_up_big" style="position:relative; float:left">
<%= link_to "SIGN UP", "#register", "data-toggle" => "modal", :class => "sign_up_home"%>
<p id="beta_test" style="position:absolute">BETA</p>
</div>
<div id="home_teachers">
    <img src="/assets/teacher.png"/>
    <img src="/assets/principal.png"/>
</div>
