<div class='row'>
    <h2><img src="/assets/teacher.png"/>Teachers<img src="/assets/principal.png" style='width:46px'/></h2>
        <div id="steps">
            <h2><span class="blue_text">Various Detailed Ways of Visualising your Class</span></h2>
            <div class='row'>
                <img src='/assets/pset_charts.png' style='max-width:100%;'>
                <img src='/assets/ptype_chart.png' style='max-width:100%;'>
            </div>
        </div>
        <div id="steps">
            <h2><span class="blue_text">Visualise Individual Students</span></h2>
            <img src='/assets/student_chart.png' style='max-width:100%;'>
        </div>
        <div id="steps">
            <h2><span class="blue_text">See every Question Attempted</span></h2>
            <div class='row'>
            <div class='col-md-6'>
                <img src='/assets/problem_hist.png' style='max-width:100%;'>
            </div>
            
            <div class='col-md-6'>
                <img src='/assets/see_every_q.png' style='max-width:100%;'>
            </div>
            </div>

        </div>
        <div id="steps">
            <h2><span class="blue_text">Interact with your students</span></h2>
            <div class='col-md-6'>
                <p>Individually: Leave comments on Questions your students have attempted</p>
                <img src='/assets/comme.png'>
            </div>
            <div class='col-md-6'>
                <p>With Your Class: Post videos, images or text on your class' discussions </p>
                <img src='/assets/post1.png' style='max-width:100%;'>
            </div>
        </div>
        
</div>