<div class='row'>
    <h2><img src="/assets/girl.png"/>Students<img src="/assets/boy.png" style='width:46px'/></h2>
        <div id="steps">
            <h2><span class="blue_text">Earn Badges and Points!!</span></h2>
            <div class='row'>
                <img src='/assets/badgespts.png' style='max-width:100%;'>
            </div>
        </div>
        <div id="steps">
            <h2><span class="blue_text">See Detailed Graphs of your Progress!!</span></h2>
            <p>Below is mine. I'm not very good at Maths. I'm sure you'll do better than me!</p>
            <img src='/assets/my_progress.png' style='max-width:100%;'>
        </div>
        <div id="steps">
            <h2><span class="blue_text">Share and Discuss Interesting Videos, Images or Questions with your Classmates!!</span></h2>
            <div class='row'>
            
            <div class='col-md-6'>
                <img src='/assets/post1.png' style='max-width:100%;'>
            </div>
            <div class='col-md-6'>
                <img src='/assets/comments2.png' style='max-width:100%;'>
            </div>
            </div>
        </div>
        <div id="steps" style='height:400px;'>
            <h2><span class="blue_text">Choose Your Avatar!!</span></h2>
            <%=render 'shared/select_image'%>
        </div>
        
</div>
<!--<div class='row'>
    <div class='col-md-4'>
        <div class='help-heads'>Students</div>
        <div id="steps">
            <h2><span class="blue_text">WORK ON PROBLEMS TILL THEY ARE UNDERSTOOD</span></h2>
            <p>You no longer have to do thousands of maths problems. Work on concepts till you understand them.</p>
        </div>
        <br>
        <div id="steps">
            <h2><span class="blue_text">LEARN WHILE PLAYING A GAME</span></h2>
            <p>Earn Points and Badges while doing Maths Problems. Doing Maths Problems is no longer without reward.</p>
        </div>
    </div>
    <div class='col-md-4'>
        <div>
            <div>
                <p>ANALYSE YOUR STUDENTS PERFORMANCE</p>
            </div>
            <div>
            </div>
        </div>
        <div>
            <div>
            </div>
            <div>
                <p>MAKE MULTIPLE PRIVATE CLASSES</p>
            </div>
        </div>
        <div>

            <div>
                <p>ASSIGN YOUR STUDENTS QUIZZES</p>
            </div>
            <div >
            </div>
        </div>
    </div>
    <div class='col-md-4'>
        <div>
            <div>
                <p>ANALYSE YOUR KID's PERFORMANCE IN VARIOUS PROBLEMS</p>
            </div>
            <div>
            </div>
        </div>
    </div>
</div>-->