<div class="page_header_home">
    <h1 class="intro-text">
        <span class="blue_text">Smarter</span>
        <span class="green_text">Grades</span> 
        Lets
    </h1>
</div>

<!-- <a class="how_work">How Does it Work?</a> -->
<ul class="nav nav-tabs" id="myTab" style="margin-top: 18px; padding-left: 180px;">
    <li class="active"><a href="#student">STUDENT</a></li>
    <li><a href="#teacher">TEACHER</a></li>
    <li><a href="#coach">COACH</a></li>
</ul>

<div class="tab-content">
    <div class="tab-pane active" id="student">
        <!-- left text -->
        <div class="row-fluid">
            <div class="span" id="how_it_helps_content" style="border-left: 4px solid red;">
                <div class="span4">
                    <p>HELPS YOU LEARN QUICKLY WHILE HAVING FUN</p>
                        some text over here
                </div>
                <div class="span4" style="background-image: url('/assets/m2.jpg'); height: 200px; float: right;">
                    <%#= image_tag "m2.jpg" %>
                </div>
            </div>
        </div>
        <br>
        <!-- right text -->
        <div class="row-fluid">
            <div class="span" id="how_it_helps_content" style="border-right: 4px solid blue;">
                <div class="span4" style="background-image: url('/assets/m1.jpg'); height: 200px; float: left;">
                    <%#= image_tag "m2.jpg" %>
                </div>
                <div class="span4">
                    <p>HELPS YOU LEARN QUICKLY WHILE HAVING FUN</p>
                    some text over here
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane" id="teacher">
        <!-- left text-->
        <div class="row-fluid">
            <div class="span" id="how_it_helps_content" style="border-left: 4px solid red;">
                <div class="span4">
                    <p>ANALYSE YOUR STUDENTS PERFORMANCE</p>
                    some text over here
                </div>
                <div class="span4" style="background-image: url('/assets/m2.jpg'); height: 200px; float: right;">
                    <%#= image_tag "m2.jpg" %>
                </div>
            </div>
        </div>
        <br>
        <!-- right text-->
        <div class="row-fluid">
            <div class="span" id="how_it_helps_content" style="border-right: 4px solid blue;">
                <div class="span4" style="background-image: url('/assets/m1.jpg'); height: 200px; float: left;">
                    <%#= image_tag "m2.jpg" %>
                </div>
                <div class="span4">
                    <p>MAKE MULTIPLE PRIVATE CLASSES</p>
                    some text over here
                </div>
            </div>
        </div>
        <br>
        <!-- left text-->
        <div class="row-fluid">
            <div class="span" id="how_it_helps_content" style="border-left: 4px solid red;">
                <div class="span4">
                    <p>GIVE STUDENTS YOUR CUSTOMIZED PROBLEMS</p>
                    some text over here
                </div>
                <div class="span4" style="background-image: url('/assets/m2.jpg'); height: 200px; float: right;">
                    <%#= image_tag "m2.jpg" %>
                </div>
            </div>
        </div>
        <br>
        <!-- right text-->
        <div class="row-fluid">
            <div class="span" id="how_it_helps_content" style="border-right: 4px solid blue;">
                <div class="span4" style="background-image: url('/assets/m1.jpg'); height: 200px; float: left;">
                    <%#= image_tag "m2.jpg" %>
                </div>
                <div class="span4">
                    <p>ASSIGN YOUR STUDENTS QUIZZES</p>
                    some text over here
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane" id="coach">
        <!-- left text -->
        <div class="row-fluid">
            <div class="span" id="how_it_helps_content" style="border-left: 4px solid red;">
                <div class="span4">
                    <p>ANALYSE YOUR KID's PERFORMANCE IN VARIOUS PROBLEMS</p>
                    some text over here
                </div>
                <div class="span4" style="background-image: url('/assets/m2.jpg'); height: 200px; float: right;">
                    <%#= image_tag "m2.jpg" %>
                </div>
            </div>
        </div>
        <br>
    </div>
</div>