<div class="page_header_home">
    <div class="intro-text">
        <div class="logo_blue">Smarter</div>
        <div class="logo_green">Grades</div>
        Lets
    </div>
</div>
<ul class="nav nav-tabs" id="myTab" style="margin-top: 18px; padding-left: 180px;">
    <li class="active"><a href="#student">STUDENTS</a></li>
    <li><a href="#teacher">TEACHERS</a></li>
    <li><a href="#coach">COACHES</a></li>
</ul>

<div class="tab-content">
    <div class="tab-pane active" id="student">
        <div id="steps">
            <h2><span class="blue_text">WORK ON PROBLEMS TILL THEY ARE UNDERSTOOD</span></h2>
            <p>You no longer have to do thousands of maths problems. Work on concepts till you understand them.</p>
        </div>
        <br>
        <div id="steps">
            <h2><span class="blue_text">LEARN WHILE PLAYING A GAME</span></h2>
            <p>Earn Points and Badges while doing Maths Problems. Doing Maths Problems is no longer without reward.</p>
        </div>
        
    </div>
    <div class="tab-pane" id="teacher">
        <div class="row-fluid">
            <div class="span" id="how_it_helps_content" style="border-left: 4px solid red;">
                <div class="span4">
                    <p>ANALYSE YOUR STUDENTS PERFORMANCE</p>
                </div>
                <div class="span4" style="background-image: url('/assets/m2.jpg'); height: 200px; float: right;">
                </div>
            </div>
        </div>
        <br>
        <div class="row-fluid">
            <div class="span" id="how_it_helps_content" style="border-right: 4px solid blue;">
                <div class="span4" style="background-image: url('/assets/m1.jpg'); height: 200px; float: left;">
                </div>
                <div class="span4">
                    <p>MAKE MULTIPLE PRIVATE CLASSES</p>
                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="row-fluid">
            <div class="span" id="how_it_helps_content" style="border-left: 4px solid red;">
                
                <div class="span4">
                    <p>ASSIGN YOUR STUDENTS QUIZZES</p>
                </div>
                <div class="span4" style="background-image: url('/assets/m2.jpg'); height: 200px; float: right;">
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane" id="coach">
        <div class="row-fluid">
            <div class="span" id="how_it_helps_content" style="border-left: 4px solid red;">
                <div class="span4">
                    <p>ANALYSE YOUR KID's PERFORMANCE IN VARIOUS PROBLEMS</p>
                </div>
                <div class="span4" style="background-image: url('/assets/m2.jpg'); height: 200px; float: right;">
                </div>
            </div>
        </div>
        <br>
    </div>
</div>