<div id="logo_with_sides">
	<div id="logo_left_border"></div>
	<div id="logo_text">
		<p class="logo_blue">Smarter</p>
		<p class="logo_green">Grades</p>
		<p class="logo_tag">The smartest way to learn maths</p>
	</div>
	<div id="tick">
		<img src="/assets/Home/tick.png"/>
	</div>
	<div id="logo_right_border"></div>
	<p id="beta_test_logo" style="position:absolute">BETA</p>
</div>

