<%= render :partial => 'shared/analytics' %>

<div class=nav-line data-target="site_logo">
  <div></div>
  <div></div>
</div>

<div class="container sg-nav <%= 'not_log_in' if !signed_in? %>">
  <div class='row-fluid sg-nav'>
    <div id=site_logo><%= link_to (render "/shared/logo"), root_path %></div>
    <%= render :partial => nav_elts_path %>
  </div>
</div>
