<div class=nav-line data-target="site_logo">
  <div></div>
  <div></div>
</div>

<div class='container sg-nav'>
  <div class='row-fluid sg-nav'>
    <div id=site_logo><%= link_to (image_tag "logo_with_sides.jpg"), root_path %></div>
    <%= render :partial => nav_elts_path %>
  </div>
</div>
