<%= content_for :head do %>
  <%= javascript_include_tag "nondefault/notepad" %>
<% end %>
<div class="inp">
</div>
<div id="binding">
  <div id="note">
    <canvas id="notepad" height=450px width=400px border=2px>
    Your browser does not support the HTML5 Canvas feature. This app uses new HTML5 features and will only work on the latest versions of Firefox, Safari or Chrome (and maybe Internet Explorer 9).
    </canvas>
    <input type="text" id="notes" style="background-color:transparent; position:absolute; height:15px; left:55px; top:50px; width:340px">
    <input type="text" id="num1" style="display:none; background-color:transparent; position:absolute; left:55px; top:50px; width:150px">
    <input type="text" id="num2" style="display:none; background-color:transparent; position:absolute; left:55px; top:50px; width:150px">
    <textarea id="comment" rows=3 cols=15 style="display:none; position:absolute;"></textarea>
  </div>
  <div id=bind>
  </div>
  <div id=ltoolbar class=toolbar>
    <div class="tbicons plug" id=add>
      <i class="icon-plus" id=addt data-original-title="Opens up an addition form. Alternately, if you want to add 54 and 45, type in 54 + 45 into the notepad and press Shift-Enter"></i>
    </div>
    <div class="tbicons plug" id=sub> 
      <i class="icon-minus" id=subt data-original-title="Opens up a subtraction form. Alternately, if you want to subtract 45 from 54, type in 54 - 45 into the notepad and press Shift-Enter"></i>
    </div>
    <div class="tbicons plug" id=mult> 
      <i class="icon-remove" id=multi data-original-title="Opens up a multiplication form. Alternately, if you want to multiply 54 and 45, type in 54 * 45 into the notepad and press Shift-Enter"></i>
    </div>
    <div class=tbreak> 
    </div>
    <div class=placeholder style="display:none">
    </div>
    <div class=placeholder style="display:none">
    </div>
    <div class=placeholder style="display:none">
    </div>
    <div class=placeholder style="display:none">
    </div>
    <div class="prev tbicons turn" > 
      <i class="icon-chevron-left" id=prev data-original-title="Previous Page"></i>
    </div>
  </div>
  <div id=rtoolbar class=toolbar>
    <div class="next tbicons turn"> 
      <i class="icon-chevron-right" id=next data-original-title="Next Page"></i>
    </div>
  </div>
</div>
<script>
  $('#addt').tooltip();
  $('#subt').tooltip();
  $('#multi').tooltip();
  $('#next').tooltip();
  $('#prev').tooltip();
</script>

