<div class="modal" id="register" style="display:none;"> 
	<%# class=hide get's overridden by display-block status %>
	<div class="modal-body">
		<%= render 'shared/register' %>
	</div>
	<div class="modal-footer">
		<a href="#" class="btn" data-dismiss="modal">Close</a>
	</div>
</div>
