<%= render 'shared/analytics' %>

<nav class="navbar navbar-default nav-teachers" role="navigation" style='margin-bottom:50px;'>
	<div class="container-fluid">

		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#the_nav">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#"><b style='color:#2ecc71'>Smarter</b><b style='color:#3498db'>Grades</b></a>
		</div>


		<div class='collapse navbar-collapse' id='the_nav'>
			<%= render nav_elts_path %>
		</div>
	</div>
</nav>

