console.log("Checking for problem overlay:");
var $p = $('#problem_overlay');
console.log("found " + $p);
if($p.length == 0){
  $('body').prepend("<div id=dimmer></div><div id=problem_overlay></div>");
 $p = $('#problem_overlay');
}
$("#dimmer").show();
$("#problem_overlay").show();
console.log("rendering problem:");
$p.html('<%= j(render "full_answer") %>');
$p.show();
