<div class="logo">Acknowledgements</div>
<p class="desc">This is a list of just a few of the people we have to thank for our progress so far. I'm sure this list will get bigger by the day.</p>

<div class=section-header>Oberlin College Creativity and Leadership</div>
<p>In April 2011, Madhav and Haider won a $15,000 "Creativity & Leadership: Entrepreneurship at Oberlin" Fellowship, part of the Northeast Ohio Collegiate Entrepreneurship Program (NEOCEP), a Kauffman Campuses (SM) Initiative funded by the Burton D. Morgan Foundation and the Ewing Marion Kauffman Foundation. This gave them the perfect excuse to start their own venture rather than search for jobs. Special thanks to Andrea Kalyn and Mary Kay Gray for mentoring us whenever we've required it.
</p>
<div class=section-header>Alok Nanda Company</div>
<p>For helping us find a name and working with us on our branding.
</p>
<div class=section-header>The Indus Entrepreneurs (TIE)</div>
<p>Ever since we won the Bizbuzz business plan competition and reached the final 30 of the All-Asia business plan cometition, both hosted by TIE, we have received tremendous support from this organization.
</p>
