<div class="logo">Contact Us</div>
<p class="desc">We at SmarterGrades value your input and ideas.  Please contact us with any questions, comments, or suggestions you might have, and we'll be sure to get back to you</p>
<div class=row-fluid>
  <div class=span6>
    <div class=section-header>Email</div>
    <dl class=dl style="margin-top:5px;">
      <dt>Support:</dt>
      <dd><%= mail_to "info@smartergrades.com" %></dd>

      <dt>Other:</dt>
      <dd><%= mail_to "mkaushish@smartergrades.com" %></dd>
      <dd><%= mail_to "tramfjord@smartergrades.com" %></dd>
    </dl>
  </div>
  <div class='span6'>
    <div class=section-header>Mail</div>
    <ul class=unstyled style="margin-top:5px;">
      <li>Madhav Kaushish</li>
      <li>K-24A Hauz Khas Enclave</li>
      <li>New Delhi, India</li>
    </ul>
  </div>
</div>
