<div class="logo" style="font-family:Courier">Contact Us</div>
<p class="desc" style="font-family:Courier">We at SmarterGrades value your input and ideas.  Please contact us with any questions, comments, or suggestions you might have, and we'll be sure to get back to you</p>
<div style="font-family:Courier">
      <dd><img class="home_img" src="/assets/email.png"/><%= mail_to "mkaushish@smartergrades.com" %></dd>
      <dd><img class="home_img" src="/assets/contact.png"/>+91 99100 99677</dd>
</div>
