<div id=home class=static-page>
  <div class=home3>
    <div class="dotted-border">
    </div>

  </div>
  <div class=home3>
    <div class=dotted-border-header-black>
      <h4>MAKE YOUR MATHS BETTER</h4>
    </div>
    <div class="dotted-border">
      <div id=video_home>
        <iframe src="http://www.youtube.com/embed/F21S9Wpi0y8" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
  <div class=home3>
    <div class=dotted-border-header-black>
      <h4>TRY MORE SAMPLE PROBLEMS</h4>
    </div>
    <div class="dotted-border">
    </div>
  </div>
</div>
