<div class=accordion id=featuresaccordion>
  <%= link_to "Change Password", change_password_path, :class => "btn-primary btn-large" %>
  <div class="accordion-group"> 
    <h3 class=accordion-heading data-toggle="collapse" data-parent="#featuresaccordion" data-target="#collapseOne">
      Profile Page
    </h3>
    <div class="collapse" id=collapseOne>
      <div class="accordion-inner">
        <h4>1. Quizzes</h4>
        <p>On the left are a bunch of pre-made quizzes based on the chapters in the class 6 NCERT textbook. As you add more quizzes, they will appear in the same column. You can add more custom quizzes by clicking on the "New Quiz" button.</p>
        <h4>2. Performance Panel</h4>
        <p>The center panel indicates how well you have performed on the questions in the current quiz. Currently, this just provides a percentage for each question, but we will soon replace this with our <b class=blue>Smart</b><b class=green>Grade</b>.</p>
        <h4>3. Problem History</h4>
        <p>The far right column shows your problem history. You can click on any of the problems to see what they were. You can also go through explanations for all the problems.</p>
        <br style="clear:both;">
      </div>
    </div>
  </div>

  <div class="accordion-group"> 
    <h3 data-toggle="collapse" data-parent="#featuresaccordion" data-target="#collapseTwo">
      Create a Custom Quiz
    </h3>
    <div class="collapse" id=collapseTwo>
      <div class="accordion-inner">
        <p>To create a custom quiz click on the "New Quiz" button either on the nav-bar or on the left of the Profile page. This will take you to a new page with the chapter names on the left, the questions in the center and the selected problems on the right. You can select a mixture of problems from any combination of chapters. Click the "Save Quiz" button when you're done. Remember to name your quiz before you do so. This will take you back to your Profile page. You can start the quiz from there.</p>
        <br style="clear:both;">
      </div> 
    </div>
  </div>
</div>
