<div class="logo">Team Smarter Grades</div>
<p class="desc"> Smarter Grades was started in 2011 by a group of Oberlin Alumni who love maths and want others to do so as well. Be sure to check out our <%= link_to "blog!", "http://blog.smartergrades.com" %></p> 
<div class=section-header>
  <b class=green>Madhav</b> <b class=blue>Kaushish</b>, CEO
</div>
<div class=teammember>
  <%= image_tag "madhav_125.jpg" %>
  <div>
    Madhav majored in Maths at Oberlin College. His teachers in school played a huge role in Madhav loving maths from a young age. They pushed him to experiment with new concepts and go beyond the prescribed textbook. Madhav's aim is to make Smarter Grades available to the largest possible audience. For Madhav, the possibility of translating Smarter Grades into other languages, while ensuring low bandwidth requirements, is the most exciting aspect of the product.
  </div>
  <div class=spacer></div>
</div>
<div class=section-header>
  <b class=green>Thomas</b> <b class=blue>Ramfjord</b>, CTO
</div>
<div class=teammember>
  <%= image_tag "thomas_125.jpg" %>
  <div>
      Thomas studied Computer Science at Oberlin. He loves math puzzles and problems, but this was not always the case.  It took years of college courses for him to disassociate math from tedious problem sets and repetition.  He joined Smarter Grades to make math accessible and enjoyable to high school students by giving each student personalized attention and problem sets that focus on learning, not repetition.
  </div>
  <div class=spacer></div>
</div>
<div class=section-header>
  <b class=green>Haider</b> <b class=blue>Khan</b>, Marketing and Strategy
</div>
<div class=teammember>
  <%= image_tag "haider_125.png" %>
  <div>
      Haider studied Economics at Oberlin and, unlike Madhav, he wasn't a fan of Mathematics from a young age. Haider's motivation for smartergrades derives from his conviction that there is a better way to teach mathematics. He believes that the pervasive influence of the internet is changing the way children absorb information. Giving children agency over their learning process will allow them to get a really solid grounding on the fundamentals of the subject.
  </div>
  <div class=spacer></div>
</div>
