<div id=editing>
  <label for=Subject>Subject</label>
  <select id=subject>
    <option value="mathematics">Mathematics
    <option value="bhistory">Bhutanese History
    <option value="whistory">World History
    <option value="science">Science
    <option value="english">English
    <option value="buddhism">Buddhism
  </select>
  <label for=class>Class</label>
  <select id=class>
    <option value="6">6
    <option value="7">7
    <option value="8">8
    <option value="9">9
    <option value="10">10
  </select>
  <label for="topic">Topic</label>

  <input id="topic">
  <label for="concepts">Concepts</label>

  <input id="concepts">


  <h2>Learning Objectives</h2>

  <table id=lo class=tab border=1>

    <tr>

      <td></td>

      <td>Learning Objective</td>

      <td>Development Goals</td>


    </tr>

  </table>

  <button id=pluslo>+</button>

  <button id=minuslo>-</button>

  <h2>Teaching Strategies</h2>

  <table id=ts class=tab border=1>

    <tr>

      <td>Teaching Strategy</td>

      <td>Multiple Intelligences</td>

      <td>Learning Objectives</td>

    </tr>


  </table>

  <button id=plusts>+</button>

  <button id=minusts>-</button>


  <button id=save>Save</button>
  <button id=view>View</button>
</div>
<div id=viewing style="display:none">

  <button id=edit>Edit</button>
</div>

<script>

  bhutan();

</script>

