<div id=logo>Contact Us</div>
<p class=desc id="contactblurb">We at Smarter Grades value your input and ideas.  Please contact us with any questions, comments, or suggestions you might have, and we'll be sure to get back to you</p>
<div class=column>
  <div class=contactinfo>
    <h2>Email</h2>
    <div class=lcol>
      Support:
    </div>
    <div><%= mail_to "support@smartergrades.com" %></div>
    <div class=lcol>
      Other:
    </div>
    <div><%= mail_to "mkaushish@smartergrades.com" %></div>
    <div class=lcol style="color:transparent;">
      .
    </div>
    <div><%= mail_to "tramfjord@smartergrades.com" %></div>
  </div>
</div>
<div class=column>
  <div class=contactinfo>
    <h2>Mail</h2>
    <div>Smarter Grades<div>
    <div>K24A Hauzkhas Enclave</div>
    <div>New Delhi, India</div>
  </div>
</div>
