



<div class='row-fluid problem_body'>
  <%= form_tag finish_sample_problem_path(@problem_type.id), method: :post, autocomplete: :off, remote: true do %>
    
    <%= render 'problems/form' %>
  <% end %>
</div>

<div class='row-fluid calculations'>
  <%= render 'problems/side_notepad' %>
</div>
