<%= content_for :head do %>
  <%= javascript_include_tag "nondefault/graph" %>
<% end %>

<div class=logo>Graph App</div>
<p class="description">
  Our graphing calculator is just one more way we engage students while they are doing our problem sets.  By using our graphing calculator in our interactive explanations, students develop an intuitive understanding and get a feel for equations, instead of just memorizing definitions.
</p>
<div id=cont class=well>
  <canvas id="canvas" style="background-color:white;" height="550" width="550" border="2px">
  Your browser does not support the HTML5 Canvas feature. This app uses new HTML5 features and will only work on the latest versions of Firefox, Safari or Chrome (and maybe Internet Explorer 9).         
  </canvas>   

  <div id=inp>
    <label for="circlesize">y = </label>
    <input type="text" id="circlesize"></input>
    <br></br>
    <div id="curves"></div>
  </div>
</div>
