<%= content_for :head do %>
  <%= javascript_include_tag "nondefault/graph" %>
<% end %>

<h1>Graph App</h1>
<div id="description">
  <p> This Graph app will allow students to visualize vidualize functions. The bar on the left is used to zoom in and out and will soon be replaced by scroll to zoom functionality. You can also hold and drag the graph. We will soon also be adding the option of graphing derivatives of functions as well as finding points of intersection of using Newton's Method. </p>
</div>
<label for="circlesize">y=</label>
<input type="text" id="circlesize"></input>
<button id="function">Draw</button>
<button id="undo">Undo</button>
<canvas id="canvas" style="background-color:white;" height="550" width="550" border="2px">
Your browser does not support the HTML5 Canvas feature. This app uses new HTML5 features and will only work on the latest versions of Firefox, Safari or Chrome (and maybe Internet Explorer 9).         
</canvas>   
<div id="shapes"></div>
