<div id="sitetitle">
  <%= link_to "Smarter Grades", root_path, :id => "logo" %>
</div>
<%= render :partial => 'shared/signin' %>
<div id="homedescription"> 
  <p>
  SmarterGrades is an online tutor for CBSE maths.  We give students personalized attention and problems sets to prepare them for their exams.  Our PScore predicts how well the students will do on each type of question, and allows us to focus on the problems the student is having trouble with.  
  </p> 
  <p> 
  Our problems sets are about learning, not testing.  That's why when a student gets a problem wrong we don't just mark it wrong - we guide the student through the steps in solving the problem.  This way we can ensure that every student has complete understanding of every question.
  </p>
  <p>
  SmarterGrades is going to enter alpha testing soon.  If you would like to sign your child up for personal online maths instruction, please send us an email at signup@smartergrades.com! 
  </p>
</div>

<div id="slideshow">
  <div id="slides" >
    <%= image_tag "drawtoolstext.png" %>
  </div>
  <div id="slideshownav">
  </div>
</div>
