<div id="sitetitle">
  <%= link_to "Smarter Grades", root_path, :id => "logo" %>
</div>
<%= render :partial => 'shared/signin' %>
<div id="homedescription"> <p>
  Grades in the realm of education are standardized measurements of varying levels of comprehension within a subject area. Grades can be assigned in letters (for example, A, B, C, D, or F), as a range (for example 4.0–1.0), as a number out of a possible total (for example out of 20 or 100), as descriptors (excellent, great, satisfactory, needs improvement), in percentages, or, as is common in some post-secondary institutions in some countries, as a Grade Point Average (GPA).
  </p> <p> GPA is calculated by taking the number of grade points a student earned in a given period of time divided by the total number of credits taken.[1] The GPA can be used by potential employers or further post-secondary institutions to assess and compare applicants. A Cumulative Grade Point Average is a calculation of the average of all of a student's grades for all semesters and courses completed up to a given academic term,[2][3][4] whereas the GPA may only refer to one term.</p>
</div>

<div id="slideshow">
  <%= image_tag "200px-Nuvola_apps_edu_miscellaneous.svg.png" %>
</div>
