
<div id='home' class='static-page'>
    <div class='home2'>
        <div class="dotted-border">
        </div>
    </div>
    <div id='home_slide'>
        <div class='slide1'>
            <img src="/assets/Home/slide1.png">
        </div>
    </div>
    <br>
    <div class='home3' style="width:288px; margin-right:28px">
        <div class='testimonial'>
            <br/>
            <a>TESTIMONIAL</a>
        </div>
    </div>
    <div class='home3' style="margin-right:28px">
        <div class='dotted-border-header-black' >
          <p>MAKE YOUR MATHS BETTER</p>
      </div>
      <div class="dotted-border">
        <div id='video_home'>
            <iframe src="http://www.youtube.com/embed/V-5HLNESatM" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
</div>
<div class='home3'>
    <div class='dotted-border-header-black'>
      <p>TRY MORE SAMPLE PROBLEMS</p>
  </div>
  <div class="dotted-border">
  </div>
</div>
</div>
<%= render 'users/hidden_registration_forms' %>
