

  <div class="span9"> 
    <div style='margin-left:40px;'>
      <%= link_to_function "Register as a Teacher", "registerTeacher();", :class => 'button-blue centered' %>
      <%= link_to_function "Register as a Student", "registerStudent();", :class => 'button-blue centered' %>
    </div>
    
  </div>
<div id='home' class='static-page'>
    <div class='home2'>
        <div class="dotted-border">
        </div>
    </div>
    <div id='home_slide'>
        <div class='slide1'>
            <img src="/assets/Home/slide1.png">
            <div class='slide_move'>
                <img class='home_tb home_tick' src="/assets/Home/tick.png">
                <img class='home_tb' src="/assets/Home/box.png">
                <img class='home_tb' src="/assets/Home/box.png">
            </div>
            <p class='home_c'>Doing Maths Becomes a Game</p>
        </div>
        <div class='slide2' style="display:none">
            <img src="/assets/Home/slide1.png">
            <div class='slide_move'>
                <img class='home_tb' src="/assets/Home/box.png">
                <img class='home_tb home_tick' src="/assets/Home/tick.png">
                <img class='home_tb' src="/assets/Home/box.png">
            </div>
        </div>
        <div class='slide3' style="display:none">
            <img src="/assets/Home/slide1.png">
            <div class='slide_move'>
                <img class='home_tb' src="/assets/Home/box.png">
                <img class='home_tb' src="/assets/Home/box.png">
                <img class='home_tb home_tick' src="/assets/Home/tick.png">
            </div>
        </div>
    </div>
    <br>
    <div class='home3' style="width:288px; margin-right:28px">
        <div class='testimonial'>
            <br/>
            <a>TESTIMONIAL</a>
        </div>
    </div>
    <div class='home3' style="margin-right:28px">
        <div class='dotted-border-header-black' >
          <p>MAKE YOUR MATHS BETTER</p>
      </div>
      <div class="dotted-border">
        <div id='video_home'>
            <iframe src="http://www.youtube.com/embed/V-5HLNESatM" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
</div>
<div class='home3'>
    <div class='dotted-border-header-black'>
      <p>TRY MORE SAMPLE PROBLEMS</p>
  </div>
  <div class="dotted-border">
  </div>
</div>
</div>
<%= render 'users/hidden_registration_forms' %>
