
<%= content_for :head do %>
  <%= javascript_include_tag "nondefault/notepad" %>
<% end %>
<h1>Notepad</h1>
<div class="inp">
</div>
<div id="note" style="position:relative; width:350px; height:550px;">
  <canvas id="notepad" style="background-color:#fdff7b" height=550px width=350px border=2px>
  Your browser does not support the HTML5 Canvas feature. This app uses new HTML5 features and will only work on the latest versions of Firefox, Safari or Chrome (and maybe Internet Explorer 9).
  </canvas>
  <input type="text" id="notes" style="background-color:transparent; position:absolute; height:15px; left:55px; top:50px; width:290px">
  <input type="text" id="num1" style="display:none; background-color:transparent; position:absolute; left:55px; top:50px; width:150px">
  <input type="text" id="num2" style="display:none; background-color:transparent; position:absolute; left:55px; top:50px; width:150px">
  <textarea id="comment" rows=3 cols=15 style="display:none; position:absolute;"></textarea>
  <div id="next" class="turn" style="background-color:transparent; position:absolute; left:315px; top:0px; height:20; width:20;">
    <p>Next</p>
  </div>
  <div id="prev" class="turn" style="background-color:transparent; position:absolute; left:0px; top:0px; height:20; width:20;">
    <p>Prev</p>
  </div>
  <div id="add" class="plug" height=20px width=30px style="background-color:transparent; position:absolute; left:0px; top:58px;">
    <p style="font:10pt Calibri;">Add</p>
  </div>
  <div id="sub" class="plug" height=20px width=30px style="background-color:transparent; position:absolute; left:0px; top:98px;">
    <p style="font:10pt Calibri;">Subtract</p>
  </div>
  <div id="mult" class="plug" height=20px width=30px style="background-color:transparent; position:absolute; left:0px; top:140px;">
    <p style="font:9pt Calibri;">Multiply</p>
  </div>
  <div id="divide" class="ncplug" height=20px width=30px style="display:none; background-color:transparent; position:absolute; left:0px; top:178px;">
    <p style="font:10pt Calibri;">Divide</p>
  </div>
</div>
