
<%= content_for :head do %>
  <%= javascript_include_tag "nondefault/notepad" %>
<% end %>
<h1>Notepad</h1>
<div class="inp">
</div>
<div id="binding">
  <div id="note" >
    <canvas id="notepad" height=550px width=350px border=2px>
    Your browser does not support the HTML5 Canvas feature. This app uses new HTML5 features and will only work on the latest versions of Firefox, Safari or Chrome (and maybe Internet Explorer 9).
    </canvas>
    <input type="text" id="notes" style="background-color:transparent; position:absolute; height:15px; left:55px; top:50px; width:290px">
    <input type="text" id="num1" style="display:none; background-color:transparent; position:absolute; left:55px; top:50px; width:150px">
    <input type="text" id="num2" style="display:none; background-color:transparent; position:absolute; left:55px; top:50px; width:150px">
    <textarea id="comment" rows=3 cols=15 style="display:none; position:absolute;"></textarea>
    <div id="next" class="turn" style="background-color:transparent; position:absolute; left:315px; top:0px; height:20; width:20;">
      <p>Next</p>
    </div>
    <div id="prev" class="turn" style="background-color:transparent; position:absolute; left:0px; top:0px; height:20; width:20;">
      <p>Prev</p>
    </div>
  </div>
  <div id=bind>
  </div>
  <div id=toolbar>
    <div class=plug id=add>
      <i class="icon-plus"></i>
    </div>
    <div class=plug id=sub> 
      <i class="icon-minus"></i>
    </div>
    <div class=plug id=mult> 
      <i class="icon-remove"></i>
    </div>
  </div>
</div>
