<div id="main-content" style="text-align:center; font-family:Courier">
    <section id="home" class="clearfix">
    	<div class="row-fluid">
    	<div class="actual_c">
        	<%= render "shared/logo" %>
			<div id="home_students">
	    		<img src="/assets/boy.png"/>
	    		<img src="/assets/girl.png"/>
			</div>
			<div id="sign_up_big" style="position: relative; float: left;">
				<div style="margin-left: 10px; margin-top: 30px;">
					<h1 style="font-size: 55px; color: red;">CHALLENGE 2014</h1>
				</div>
			</div>
			<div id="home_teachers">
			    <img src="/assets/teacher.png"/>
			    <img src="/assets/principal.png"/>
			</div>
        </div></div>
    	
		<div class="row-fluid">
			<div class="span8 font_lane" style="padding-left: 16%; text-align: center;">
				<p>The by-invitation competition is being hosted completely online on the SmarterGrades Math platform and consists of 2 rounds as follows:</p>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span8" style="padding-left: 16%;">
				<ul class="nav nav-tabs" id="myTab" style="margin-top: 18px; padding-left: 38%;">
	    			<li class="active"><a href="#round_1" class="font_lane">ROUND 1</a></li>
	    			<li><a href="#round_2" class="font_lane">ROUND 2</a></li>
	    		
				</ul>
				
				<div class="tab-content">
				    <div class="tab-pane active" id="round_1">
				        <p class="font_lane text_justify">From [Date] all interested sixth-grade students of your school will be given access to the SmarterGrades online Math platform. By working on questions specifically designed to enhance their Math skills, answering them correctly, and mastering various Math concepts, they will keep accumulating points. Those who accumulate [points] points by [Date+1 month] will qualify for Round 2 on [Date+1 month+1 week].</p>
				    </div>
				    <div class="tab-pane" id="round_2">
				        <p class="font_lane text_justify">All those who qualified from Round 1 will be eligible. The top 5 schools and top 3 individuals will be eligible for prizes as stated below.</p>
				    </div>
				    
				</div>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span4 font_lane" style="padding-left: 16%;">
				<h1 class="blue_text">SCHOOL PRIZES</h1>
			</div>
			<div class="span4 font_lane">
				<h1 class="blue_text">INDIVIDUAL PRIZES</h1>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span4 font_lane" style="padding-left: 16%;">
				<p style="text-align: justify;"><strong class="green_text text_italic">FIRST PRIZE - </strong>Rs. 50,000 worth of Flipkart vouchers for the school, subscription to 3 India Today Group magazine publications for three years and Rs. 5000 worth of Flipkart vouchers to the top 3 students from school.</p>
		
			</div>
			<div class="span4 font_lane">
				<p class="text_justify"><strong class="green_text text_italic">FIRST PRIZE - </strong>Top 5 students in the online competition get Rs. 10,000 worth of Flipkart vouchers.</p>
		
			</div>
		</div>
		<div class="row-fluid">
			<div class="span4 font_lane" style="padding-left: 16%;">
				<p class="text_justify"><strong class="green_text text_italic">SECOND PRIZE - </strong>Rs. 30,000 worth of Flipkart vouchers for the school, subscription to 3 India Today Group magazine publications for three years and Rs. 3000 worth of Flipkart vouchers to the top 3 students from school.</p>
			</div>
			<div class="span4 font_lane">
				<p style="text-align: justify;"><strong class="green_text text_italic">SECOND PRIZE - </strong>Next 10 students in the online competition get Rs. 5,000 worth of Flipkart vouchers.</p>

			</div>
		</div>
		<div class="row-fluid">
			<div class="span4 font_lane" style="padding-left: 16%;">
				<p style="text-align: justify;"><strong class="green_text text_italic">THIRD PRIZE - </strong>Rs. 20,000 worth of Flipkart vouchers for the school, subscription to 3 India Today Group magazine publications for three years and Rs. 2000 worth of Flipkart vouchers to the top 3 students from school.</p>

			</div>
			<div class="span4 font_lane">
				<p class="text_justify"><strong class="green_text text_italic">THIRD PRIZE - </strong>Next 10 students in the online competition get Rs. 2,500 worth of Flipkart vouchers.</p>

			</div>
		</div>
		<div class="row-fluid">
			<div class="span4 font_lane" style="padding-left: 16%;">
				<p class="text_justify"><strong class="green_text text_italic">Additionally, the top 5 schools will get free access to the SmarterGrades platform for 6 months!</strong></p>

			</div>
			<div class="span4 font_lane">
						
			</div>
		</div>
		<div class="row-fluid">
			<div class="span8 font_lane" style="padding-left: 16%; font-weight: bold;">
				<h1 style="text-align: left;">FAQ<small>s</small></h1>

				<div style="text-align: left; font-size: 14px;">
					<h3>How does the school register?</h3>
					<ol>
						<li>
							Send in the attached excel sheet registration template with the details as requested to sgchallenge2014@ulearntoday.com.
						</li>

						<li>You will receive a confirmation email from us immediately.</li>

						<li>
							Within 2 working days, we will also send across an excel sheet with details of the  accounts for your students. We will also create a teacher account for the teacher  to track individual and group performance.
						</li>
					</ol>
					<h3>How does the points system work for the rounds?</h3>
					<ol>
						<li>
							Points will be awarded for correct answers, speed of responses, difficulty level of questions and topics covered.
						</li>
					</ol>

					<h3>Can the teachers monitor the performance of the students?</h3>
					<ol>
						<li>
							Along with the accounts for the students, one account per section for teacher access would be given as well. Through this account, the teacher can track individual and group performance of the students. It will also highlight the errors made by students and gaps in conceptual understanding of students, if any.
						</li>
					</ol>
					<h3>When would the prizes be announced and given away?</h3>
					<ol>
						<li>
							Winners would be announced at 8pm on [Date]. 
						</li>
						<li>
							The mechanism for claiming the prizes would be shared by [Date + 1 week].
						</li>
					</ol>
					<h3>For any further questions, please call on +91 99100 99677</h3>
				</div>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span8 font_lane" style="padding-left: 16%; font-weight: bold;">
				<h1 style="text-align: left;">Terms and Conditions</h1>
				<div style="text-align: left; font-size: 14px;">
					<ol>
						<li>
							Student must be a bonafide student of grade 6 or 7 and of the school and proof might be requested by Universal Learn Today and SmarterGrades at any time.
						<li>
							Student must be below the age of 13 years as on 31st March 2014.
						</li>
						<li>
							Whilst attempting problems on the SmarterGrades online platform, staff members of the school are expected to ensure that the competition is conducted in a fair manner.
						</li>
						<li>
							Prizes will be given away in the form of Flipkart e-vouchers.
						</li>
						<li>
							Flipkart vouchers will be valid for a period of 12 months from 28th February.
						</li>
						<li>
							Usage of Flipkart vouchers would additionally be bound by Flipkart policy and guidelines.
						</li>
					<ol>
				</div>
			</div>
		</div>
	</section>
</div>
<style type="text/css">
	.font_lane{
		font-family: "Lane_narrow";		
	}
	.text_justify{
		text-align: justify;
	}

	.text_italic{
		font-style: italic;
	}
</style>
<script type="text/javascript">
	$('#myTab a').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
    });
</script>