<div id=logo>Team Smarter Grades</div>
<p class=desc>SmarterGrades was started by pair of Oberlin College alumni who enjoy math and want others to as well.  Read on to find out who they are, and be sure to check out our <%= link_to "blog!", "http://blog.smartergrades.com" %></p> 
<div class="teammember">
  <div class="name">
    Madhav Kaushish, CEO
  </div>
  <div class="info">
    <%= image_tag "madhav_125.jpg" %>
  </div>
  <div class="text">
    <div class=blurb>
      Madhav majored in Maths at Oberlin College. He always loved studying Maths. His teachers in school played a huge role in this. They allowed and in fact pushed him to experiment with new concepts and go beyond the prescribed textbook, at his own pace. It was only later that he realized that most people have very different experiences and in fact tend develop a strong dislike of the subject. So, he decided to start Smarter Grades in order to give others something close to his experience. His aim is to make Smarter Grades available to the largest possible number of people. So, the ease with which Smarter Grades can be translated into other languages and the fact that it does not require high bandwidth, are to him the most exciting aspects of the product.
    </div>
  </div>
</div>
<div class=teammember>
  <div class=name>
    Thomas Ramfjord, CTO
  </div>
  <div class=info>
    <%= image_tag "thomas_125.jpg" %>
  </div>
  <div class=text>
    <div class=blurb>
      Thomas studied Computer Science at Oberlin. He loves math puzzles and problems, but this was not always the case.  It took years of college courses for him to disassociate math from tedious problem sets and repetition.  He joined Smarter Grades to make math accessible and enjoyable to high school students by giving each student personalized attention and problem sets that focus on learning, not repetition.
  </div>
</div>
<div style="clear:left;"></div>
