<div id="team">
<h1>The SmarterGrades Team</h1>
<p>SmarterGrades was started by a small but diverse group(pair?) of Oberlin College Alumni, who enjoy math and want others to as well.  Read on to find out who they are, and why they are part of SmarterGrades</p> 
<div id="teamheader">
  <div id="name_header">
  </div>
  <div id="intro_header">
  </div>
  <div id="why_header">
  </div>
</div>
<div class="teammember">
  <div class="info">
    <div class="name">
      Madhav Kaushish
    </div>
    <div class="position">
      Co-Founder
    </div>
    <%= image_tag "madhav.jpg" %>
  </div>
  <div class="text">
    <div class="intro">
      Madhav graduated frome Oberlin College on May 2011 with a B.A. High Honors in Mathematics
    </div>
    <div class="why">
      Blahhh Madhav loves math that's why he wanted to do this website
    </div>
  </div>
</div>
<div class="teammember">
  <div class="info">
    <div class="name">
      Thomas Ramfjord
    </div>
    <div class="position">
      Lead Programmer
    </div>
    <%= image_tag "thomas.jpg" %>
  </div>
  <div class="text">
    <div class="intro">
      Thomas Ramfjord received a B.A. with High Honors 
    </div>
    <div class="why">
    </div>
  </div>
</div>
    As my friends will tell you, I love math puzzles, problems, and questions of all kinds.  This was not always the case.  In high school my natural affinity for math was ground away by years of tedium, and it took years of college math to recover.  In college I thought a lot about the failings of my high school math education; I was pushed away from math by factoring a few hundred too many polynomials, but there were other students that failed to master the process despite the repetition.  I came to believe that the problem came down to lack of individual attention.  If the teacher had spent enough time with me he would have realized I could factor a polynomial.  Meanwhile if he had spent enough time with a struggling student, he would have realized that they were missing a deeper understanding - a problem which simple repetition couldn't cure.  I joined smartergrades because I want to leverage web technology to ease the pain of learning early math, so more students find a passion for it later in life.
  </div>
</div>
</div>
