<h2> Testing the PermutationDrag view </h2>
<div class=permutationDrag>
  <div id="qbans_ans_0">
    5
    <input type=hidden name="qbans_ans_0" value="0">
  </div>
  <div id="qbans_ans_1">
    6
    <input type=hidden name="qbans_ans_1" value="1">
  </div>
  <div id="qbans_ans_2">
    7
    <input type=hidden name="qbans_ans_2" value="2">
  </div>
  <div id="qbans_ans_3">
    8
    <input type=hidden name="qbans_ans_3" value="3">
  </div>
</div>

<script>
  $('.permutationDrag').permutationDrag();
</script>
