<div class='m_bottom_1'>
  <h1 style='margin-bottom:10px;'>SmarterGrades is for math teachers and students!</h1>
  SmarterGrades is a new way to do math homework online.  We are working hard to make life easier for both students and teachers.  SmarterGrades <b>free</b> during the beta period, so try it out if you teach or study in the <b>6th grade!</b>
</div>

<div class='dotted-border m_bottom_1'>
  <h2>For Math Teachers: Focus on Teaching</h2>
  <ul class=disc>
    <li>
    How much time per week do you spend grading homework?  Homework done on SmarterGrades grades itself!
    </li>
    <li>
    Get a broad overview of the classroom, and find out which students need help on which problems.
    </li>
    <li>
    Have full access to a students history, and optionally require them to show their work on problems they do.
    </li>
    <li>
    Engage individual students by allowing them to work on the problems they need help on, rather than the same ones everyone else is working on.
    </li>
  </ul>
  <%= link_to_function "Register as a Teacher", "registerTeacher();", :class => 'button-blue centered' %>
</div>

<div class='dotted-border m_bottom_1'>
  <h2>For Students: a New Way to Study</h2>
  <ul class=disc>
    <li>
      Get feedback immediately - there's no point in doing a problem wrong 5 times in a row!
    </li>
    <li>
      Step by step explanations for problems you get wrong.  Learn from your mistakes and don't be afraid of making them.
    </li>
    <li>
      Our problems make use of apps whenever possible - no more multiple choice!
    </li>
  </ul>
  <%= link_to_function "Register as a Student", "registerStudent();", :class => 'button-blue centered' %>
</div>

<%= render 'users/hidden_registration_forms' %>
