<div class="exponent">
    


    <div class="numb">
      <%= render_tohtml local_assigns, exponent.num %>
      <div id="expo" class="expo">
      <%= render_tohtml local_assigns, exponent.exp %>
      
    
    </div> 
      </div>

</div>
