<div class="fraction">
  <% unless fraction.intpart.nil? then %>
    <div class="int">
      <%= render_tohtml local_assigns, fraction.intpart %>
    </div>
  <% end %>
  <div class="quotient">
    <div class="numerator">
      <%= render_tohtml local_assigns, fraction.num %>
    </div> 
    <div class="denominator">
      <%= render_tohtml local_assigns, fraction.den %>
    </div>
  </div>
</div>
