<div class="multifield">
  <div>
    <% multitextfield.each_field do |field| %>
      <%= render_tohtml local_assigns, field %>
    <% end %>
  </div>
  <% if partial == 'problems/htmlobj' %>
    <a href="#" class="add_mt_field btn">+</a>
    <a href="#" class="del_mt_field btn">-</a>
  <% end %>
</div>
