<div class='row'>
<div class="multifield">
  <div>
    <% multitextfield.each_field do |field| %>
      <%= render_tohtml local_assigns, field %>
    <% end %>
  </div>

  <a href="#" class="add_mt_field btn btn-info"><span class='glyphicon glyphicon-plus'></span></a>
  <a href="#" class="del_mt_field btn btn-danger"><span class='glyphicon glyphicon-minus'></span></a>
</div>
</div>
