<div class="multifield">
  <table class="table table-striped" style="background-color:white">
    <% tablefield.nrows.times do |row| %>
      <tr>
        <% tablefield.each_column(row) do |htmlobj| %>
	      <%= render_tohtml local_assigns, htmlobj %>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>
