<li id = "created_problem_<%= problem.id %>">
  	<%= link_to problem.to_s, problem_path(problem.id), remote: true %>
  	<%= link_to " Delete", custom_problem_path(problem.id), method: :delete, remote: :true, :class => "pull-right" %>

  	<%= link_to "Edit |", edit_custom_problem_path(problem.id), :class => "pull-right" %>
</li>
