<h1>Editing Custom Problem</h1>
<%= form_tag @custom_problem, :url => custom_problem_path(@custom_problem.id) do %>
	<%= render 'edit_form' %>
<% end %>
<%= link_to 'Back', new_custom_problem_path %>
