<div class="row-fluid">
            
            <div id="form"></div>
            <div id="classrooms_div")>
                <% @classrooms.each do |classroom| %>
                    <%= render "classrooms/overview", :classroom => classroom %>
                <% end %>
                <%#= will_paginate @classrooms %>
            </div>
</div>
    
<script>
    box_lid();
    $('.student_class_password').tooltip({title: "Class Password: Students need this to join your classroom"});
      $('.teacher_class_password').tooltip({title: "Class Password: Teachers need this to join your classroom"});
</script>