<div class="row-fluid">
  <%= render 'teacher_info', :teacher => @teacher %>
  <h3 style="display:inline-block;">Overview:</h3>
</div>
<% @classrooms.each do |classroom| %>
  <%= render :partial => 'classrooms/overview', :locals => {:classroom => classroom} %>
<% end %>
<script>
  $(function () {
    $('.teacher-class-col').jScrollPane();
    $('.class_password').tooltip({title: "Class Password: students need this to join your classroom"});
  })
</script>
