<div class="student-info">
  <ul class="breadcrumb stinfo">
    <li>
    	<h4><%= link_to coach.name, edit_coach_path(coach), remote: :true %></h4>
    	<h5><%= link_to "Search Student", search_students_path, :class => "pull-right" %></h5>
    </li>
  </ul>
</div>
