<br></br>
<div class='row-fluid problem_body'>
  <%= form_tag finish_problem_path(@problem), method: :post, autocomplete: :off, remote: true do %>
    <%= render 'problems/form' %>
  <% end %>
</div>

<% if @problem.problem.has_notepad? %>
<div class='row-fluid calculations'>
  <%= render 'problems/side_notepad' %>
</div>
<% end %>
