<div class=permutationDrag>
  <% permutationdrag.items_from(response).each do |item| %>
    <div class="fixed"><%= item.to_s %></div>
  <% end %>
</div>
<script>
  $('.permutationDrag').permutationDrag();
</script>
