<% unless @quiz_instance %>
	<% radiobutton.fields.each do |field| %>
	  	<div class=checkbox-item>
		  	<% klass, checked = "", false %>
			<% if radiobutton.fromhash(@response) == field.to_s.downcase  %>
				<% checked = true %>
				<% klass = "incorrect" %>

			<% end %>
			<% if radiobutton.fromhash(@solution).downcase == field.to_s.downcase %>

				<% klass = "correct" %>
			<% end %>
			<% if radiobutton.fromhash(@solution).downcase != field.to_s.downcase %>
				<% klass = "incorrect" %>
			<% end %>
			<%= radio_button_tag(radiobutton.name, field, checked, :disabled => true, :class => klass) %>
		    <%= label_tag("#{radiobutton.name}_#{field}", field) %>
	  	</div>
	<% end %>
<% else %>
	<% radiobutton.fields.each do |field| %>
	  	<div class=checkbox-item>
		  	<% checked = "", false %>
			<% if radiobutton.fromhash(@response) == field.to_s  %>
				<% checked = true %>
			<% else %>
				<% checked = false %>
			<% end %>
			<%= radio_button_tag(radiobutton.name, field, checked) %>
		    <%= label_tag("#{radiobutton.name}_#{field}", field) %>
	  	</div>
	<% end %>
<% end -%>

