<div class=input-field>
	<%= label_tag(textfield.name, textfield.label) unless textfield.label.nil? %>
	<% unless @quiz_instance %>
		<%= text_field_tag textfield.name, textfield.fromhash(response), 
				    :disabled => "disabled", 
				    :style => len_to_css_width(textfield.char_length(response)),
				    :class => 'textfield' %>
	<% else %>
		<%= text_field_tag textfield.name, textfield.fromhash(response), 
					:style => len_to_css_width(textfield.char_length(response)),
				   	:class => 'textfield' %>
	<% end %>
</div>
