/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require bootstrap
 *= require_self
*/

@import 'jquery.jscrollpane';
@import 'mixins_n_colors';

// handwriting fonts {{{
@font-face {
  font-family: "SketchRockwell";
  src: url('handwriting/SketchRockwell-Bold.ttf') format('truetype');
}
@font-face {
  font-family: "NeverSayNever";
  src: url('handwriting/NeverSayNever.ttf') format('truetype');
}
@font-face {
  font-family: "QarmicSans";
  src: url('handwriting/Qarmic_sans_Abridged.ttf') format('truetype');
}

// seriffed fonts
@font-face {
  font-family: "Latine";
  src: url('serif/Latine.ttf') format('truetype');
}
@font-face {
  font-family: "GentiumBook";
  src: url('serif/GenBkBasR.ttf') format('truetype');
}
@font-face {
  font-family: "Romanuni";
  src: url('serif/romanuni.ttf') format('truetype');
}
@font-face {
  font-family: "Symbola";
  src: url('serif/Symbola.otf');
}


@font-face {
  font-family: "Chalk1";
  src: url('SqueakyChalkSound.ttf');
}

@font-face {
  font-family: "Chalk2";
  src: url('whatever.ttf');
}

@font-face {
  font-family: "Home_hand";
  src: url('stars.ttf');
}
/* }}} */

body {
  margin:0;
  overflow:scroll;
  color: #567;
  background-color: #ffffff;
  //font-family: "Latine";
  font-family: "Sans";
  font-size:16px;
}

.container {
  width:100%;
  min-width: 421px;
}

/* Homepage stuff {{{ */
#homedescription {
  float:right;
  font-family:Latine;
  font-size: 1.15em;
  width:440px;
  margin:10px;
  text-indent:20px;
  //text-align:justify;
  padding:5px;
  ul {
    // TODO make this an image
    list-style-type: circle;
  }
  li {
    margin-bottom:30px;
  }
}

p.desc {
  font-size:1em;
  padding-bottom:4px;
  text-align:justify;
}

ul {
  list-style-type: none;
  margin: 0 0 9px 0;
  //padding: 0;
  //overflow: hidden;
}

input[type="text"] {
  border-radius:0;
  border:1px solid gray;
}

input[type="password"] {
  border-radius:0;
  border:1px solid gray;
}

input[type="submit"] {
  // the classes text and submit get added automatically for all input fields in application.js
  //margin:2px;
  //padding:3px;
}

input.invalid {
  background-color:$invalid_red;
}
/* }}} */

/* Common Classes {{{ */

.section-header {
  border-bottom:2px solid;
  font-size:1.25em;
  padding:5px 2px;
  margin-bottom:5px;
}

b.green {
  font-weight:none;
  color: $sgGreen;
}

input.btn-green {
  background-color: $sgGreen;
  background-image:none;
}

b.blue {
  font-weight:none;
  color: $sgBlue;
}

input.btn-blue {
  background-color: $sgBlue;
  background-image:none;
}

.logo {
  text-decoration: none;
  display: block;
  //font-weight:bold;
  //font-style:italic;
  padding: 4px;
  margin-bottom:12px;
  font-size: 26px;
}

.explanation {
  float: left;
}

.formfield {
  margin:10px 0 10px 0;
}

form div.field_block {
  width:100%;
  margin-bottom: 20px;
  display:block;
}
.quiz-link {
  position:relative;
  text-align:center;
  height: 0px;
  overflow:visible;
}


/* }}} */

@import 'defaults.css.scss';
@import 'common_classes.css.scss';

@import 'problems/*'; // includes questionbase
@import 'problems/tohtml/*';

@import 'progress_bar.css.scss';
@import 'classrooms.css.scss';
@import 'custom_problems.css.scss';
@import 'details.css.scss';
@import 'nav.css.scss';
@import 'notepad.css.scss';
@import 'new_notepad.css.scss';
@import 'pages.css.scss';
@import 'problem.css.scss';
@import 'problem_sets.css.scss';
@import 'problemanswers.css.scss';
@import 'quiz.css.scss';
@import 'sessions.css.scss';
@import 'students.css.scss';
@import 'teachers.css.scss';
@import 'users.css.scss';
