/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

/* Varables {{{ */

$graphite: #503214;

@mixin rounded-corners($radius) {
	-moz-border-radius: $radius;
	-webkit-border-radius: $radius;
	border-radius: $radius; /* future proofing */
	-khtml-border-radius: $radius; /* for old Konqueror browsers */
}

@font-face {
  font-family: "SketchRockwell";
  src: url('SketchRockwell-Bold.ttf') format('truetype');
}
/* }}} */

/* Layout ID's {{{ */
body {
  background-image: url('woodtile.jpeg');
  background-repeat: repeat;
}
#container {
  width: 800px;
  height: 1100px;
  margin-left: auto;
  margin-right: auto;
  background-image: url('graphpapertile.png');
  background-repeat: repeat;
  padding: 0 25px 0;
}

#sitetitle {
  width: 800px;
  height: 70px;
  margin-bottom: 10px;
  a {
    text-decoration: none;
    padding-top: 10px;
    display: block;
    text-align: center;
    font-family: "SketchRockwell";
    border: 0;
    margin: 4px;
    font-size: 3em;
    &:hover {
      border: 0;
      color: black;
    }
  }
}

nav {
  width:800px;
  margin-bottom: 10px;
  border-bottom: 2px solid;
  ul {
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  li {
    float: left;
  }

  a {
    text-decoration: none;
    display: block;
    width: 170px;
    font-family: "SketchRockwell";
    font-size: 1.5em;
    text-align: center;
    padding: 4px;
    &:hover {
      color: black;
    }
  }
  
}

/* }}} */

a {
  color: $graphite;
  border-color: transparent;
  &:hover {
    color: black;
  }
  &:visited {
    color: $graphite;
  }
}

input {
  margin: 5px
}

/* Common Classes {{{ */

.explanation {
  float: left;
}

.fraction {
  height: 70px;
  margin: 7px 15px;
  input {
    width: 50px;
  }

  .intpart { 
    text-align: right;
    padding-right: 5px;
    height: 45px;
    padding: 25px 5px 0;
    float: left;
  }
  .intpartInput { 
    text-align: right;
    height: 52px;
    padding: 18px 5px 0;
    float: left;
  }

  .quotient {
    margin: 0px;
    height: 70px;
    float: left;

    .numerator {
      text-align: center;
      height:24px;
      border-bottom: 2px solid black;
      padding: 9px 5px 0px; /* 0 top, 5 left and right, 5 bottom */
    }
    .numeratorInput {
      text-align: center;
      height:28px;
      border-bottom: 2px solid black;
      padding: 0px 5px 5px; /* 0 top, 5 left and right, 5 bottom */
    }

    .denominator {
      text-align: center;
      height:30px;
      padding: 5px 5px 0px; /* 5 top, 5 left and right, 0 bottom */
    }
    .denominatorInput {
      text-align: center;
      height:30px;
      padding: 2px 5px 3px; /* 2 top, 5 left and right, 3 bottom */
    }
  }
}

.correct {
	border: 3px solid green;
}

.incorrect {
	border: 3px solid red;
}
/* }}} */

/* Less common ID's {{{ */

#canvas {
  border: 2px solid black;
  float: left;
  margin-left: 10px;
}

#shapes {
  margin-left: 10px;
  float: left;
}
/* }}} */
