/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require bootstrap
 *= require_self
 *= require_tree . 
*/

@import 'mixins_n_colors';

// handwriting fonts {{{
@font-face {
  font-family: "SketchRockwell";
  src: url('handwriting/SketchRockwell-Bold.ttf') format('truetype');
}
@font-face {
  font-family: "NeverSayNever";
  src: url('handwriting/NeverSayNever.ttf') format('truetype');
}
@font-face {
  font-family: "QarmicSans";
  src: url('handwriting/Qarmic_sans_Abridged.ttf') format('truetype');
}

// seriffed fonts
@font-face {
  font-family: "Latine";
  src: url('serif/Latine.ttf') format('truetype');
}
@font-face {
  font-family: "GentiumBook";
  src: url('serif/GenBkBasR.ttf') format('truetype');
}
@font-face {
  font-family: "Romanuni";
  src: url('serif/romanuni.ttf') format('truetype');
}
@font-face {
  font-family: "Symbola";
  src: url('serif/Symbola.otf');
}
/* }}} */

/* Layout ID's {{{ */
body {
  overflow:scroll;
  color: #567;
  background-color: #ffffff;
  //font-family: "Latine";
  font-family: "Sans";
  font-size:16px;
}

.navbar .nav > li > a {
  padding:13px 10px 14px 10px;
}

.navbar .nav {
  margin:0;
}

.navbar .nav.pull-right {
  margin:0;
}

.navbar .divider-vertical {
  height:46px;
}

.mynavbar-form {
  margin:0;
  li {
    margin: 9px 0 0 6px;
  }
  input {
    font-size:12px;
  }
  .text input[type="text"] {
    width:157px;
  }
  .text input[type="password"] {
    width:90px;
  }
  .button {
    input, button, a {
      margin:1px 0 0 0;
      width:57px;
      padding:3px;
    }
  }
}

#nav {
  @include gradient($navG1, $navG2);
  height:36px;
  border-bottom:1px solid black;
  margin-bottom:20px;
}
nav {
  margin-left: auto;
  margin-right: auto;
  width:802px;
  a {
    text-decoration: none;
    display: block;
    //width: 152px; // for 5 nav links
    //font-family: "SketchRockwell";
    font-size: 1.35em;
    padding: 9px 7px;
    &:link {
      color:$navlink;
    }
    &:visited {
      color: $navlink;
    }
    &:hover {
      color: white;
      text-decoration:none;
    }
  }
  a.selected {
    color:white;
    //@include gradient(#262632, #74748e);
    //@include gradient(#1b1b32, #58588e);
    //@include gradient(#1b1b32, #74748e);
    @include gradient($navG1, $navGH);
  }
  
}

ul.mynav {
  text-align: center;
  margin: 0;
  padding:0;
  //overflow: hidden;
  border-left:1px solid black;
  border-right:1px solid black;
  li {
    float: left;
    width: 198px;   // for 4 nav links
    border-left:1px solid black;
    border-right:1px solid black;
  }
}

ul.nav-dropdown {
  font-size:1em;
  a {
    &:link {
      color: black;
    }
    &:visited {
      color: black;
    }
    &:hover {
      color: black;
      text-decoration:none;
    }
  }
}


/* }}} */

/* Homepage stuff {{{ */
#homedescription {
  float:right;
  font-family:Latine;
  font-size: 1.15em;
  width:440px;
  margin:10px;
  text-indent:20px;
  //text-align:justify;
  padding:5px;
  ul {
    // TODO make this an image
    list-style-type: circle;
  }
  li {
    margin-bottom:30px;
  }
}
/*}}}*/

// standard html stuff {{{
/*
a {
  color: $graphite;
  border-color: transparent;
  &:hover {
    color: black;
  }
  &:visited {
    color: $graphite;
  }
}
*/

p.desc {
  font-size:1em;
  padding-bottom:4px;
  text-align:justify;
}

ul {
  list-style-type: none;
  margin: 0 0 9px 0;
  //padding: 0;
  //overflow: hidden;
}

input[type="text"] {
  border-style: solid;
  border-color: $graphite;
  color: $graphite;
  background: white;
  padding-left:1px;
  margin:0;
}

input[type="password"] {
  border-style: solid;
  border-color: $graphite;
  color: $graphite;
  background: white;
  padding-left:1px;
  margin:0;
}

input[type="submit"] {
  // the classes text and submit get added automatically for all input fields in application.js
  //margin:2px;
  //padding:3px;
}

input.invalid {
  background-color:$invalid_red;
}
/* }}} */

/* Common Classes {{{ */

.center-image {
  display:block;
  margin-left:auto;
  margin-right:auto;
}

.small_logo {
  padding:3px;
}

.after-400-logo {
  float:left;
  margin-left:20px;
  padding-top:14px;
  font-size:22px;
}

.section-header {
  border-bottom:2px solid;
  font-size:1.25em;
  padding:5px 2px;
  margin-bottom:5px;
}

b.green {
  font-weight:none;
  color: $sgGreen;
}

input.btn-green {
  background-color: $sgGreen;
  background-image:none;
}

b.blue {
  font-weight:none;
  color: $sgBlue;
}

input.btn-blue {
  background-color: $sgBlue;
  background-image:none;
}

.logo {
  text-decoration: none;
  display: block;
  //font-weight:bold;
  //font-style:italic;
  padding: 4px;
  margin-bottom:12px;
  font-size: 26px;
}

.explanation {
  float: left;
}

.fraction {
  height: 70px;
  margin: 0px 15px;
  input {
    width: 50px;
  }

  .intpart { 
    text-align: right;
    padding-right: 5px;
    height: 45px;
    padding: 10px 5px 0;
    float: left;
  }
  .intpartInput { 
    text-align: right;
    height: 52px;
    padding: 10px 5px 0;
    float: left;
  }

  .quotient {
    margin: 0px;
    height: 70px;
    float: left;

    .numerator {
      text-align: center;
      height:24px;
      border-bottom: 2px solid black;
      //padding: 9px 5px 0px; /* 0 top, 5 left and right, 5 bottom */
      p {
        margin-top:10px;
      }
    }
    .numeratorInput {
      text-align: center;
      height:28px;
      border-bottom: 2px solid black;
      padding: 0px 5px 5px; /* 0 top, 5 left and right, 5 bottom */
    }

    .denominator {
      text-align: center;
      height:30px;
      //padding: 5px 5px 0px; /* 5 top, 5 left and right, 0 bottom */
      p {
        margin:4px;
      }
    }
    .denominatorInput {
      text-align: center;
      height:30px;
      padding: 2px 5px 3px; /* 2 top, 5 left and right, 3 bottom */
    }
  }
}

.formfield {
  margin:10px 0 10px 0;
}

/* }}} */

/* SmartScore colors {{{ */
.smartscore_95 {
  background-color:#04e504;
}
.smartscore_90 {
  background-color:#0a5f0a;
}
.smartscore_80 {
  background-color:#325f0a;
}
.smartscore_70 {
  background-color:#676818;
}
.smartscore_60 {
  background-color:#685018;
}
.smartscore_35 {
  background-color:#883004;
}
.smartscore_0 {
  background-color:#880420;
}

.smartscore_unknown {
  background-color:#999;
}
/* }}} */

/* Less common ID's {{{ */
/* }}} */

