// Place all the styles related to the badges controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.badges{
    position:absolute;
font-size: 8px;
color: white;
height: 40px;
width: 40px;
border-radius: 50%;
font-family: "Home_hand";
border-style:solid;
border-color:gray;
background-color: white;
padding:2px;
  }
.badges2{
display:inline-block;
font-size: 8px;
color: white;
height: 40px;
width: 40px;
//border-radius: 50%;
font-family: "Home_hand";
//border-style:solid;
//border-color:gray;
  }
  .badgesbw2{
display:inline-block;
font-size: 8px;
color: white;
height: 40px;
width: 40px;
//border-radius: 50%;
font-family: "Home_hand";
//border-style:solid;
//border-color:gray;
  }
  .modal-body ul li{opacity:0.8;}
  .tryli:hover{
  opacity:10;
  -webkit-transition:all 0.5s ease-in-out 0s;
  cursor:pointer;
  }
  .posbadge_name{

  display: inline;
vertical-align: 25px;
margin-left: 30px;
  }
  .badgehead{
  color: white;padding-left: 2%;font-family: 'Home_hand';font-size: 40px;box-shadow: 0 2px 50px rgba(0, 0, 0, 0.45);
  }
  .badgesbw{
    position:absolute;
font-size: 8px;
color: white;
height: 40px;
width: 40px;
background-color: rgb(220,220,220);
border-radius: 50%;
border-style:solid;
border-color:gray;
font-family: "Home_hand";
  }
.b_image{
  width:100%;
  height:100%;
}
  .badge_1{  

    margin-top:0px;
    .b_image{
  	background-image:url("/assets/tetrahedron.png");

    background-size:100% 100%;
  }
  }
  .badge_2{

    .b_image{
  background-image:url("/assets/cube.png");
    background-size:100% 100%;
  }
  }
  .badge_3{
    .b_image{
  	background-image:url("/assets/octahedron.png");
    background-size:100% 100%;
  }
  }
  .badge_4{
    .b_image{
  	background-image:url("/assets/dodecahedron.png");
    background-size:100% 100%;
  }
  }
  .badge_5{
    .b_image{
    background-image:url("/assets/icosahedron.png");
    background-size:100% 100%;
  }
  }
  .get_badge{
    img {
      margin-top: -54px;
      height:84px;    
      margin-left:-11px;
    }
    a{
      margin-top:0px;
    }
  }
.got_badge{

}
.not_got_badge{
  opacity:0.3;
}
.badge_row{
  width:120px;
  text-align: center;
  float:left;
}
.badge-levels{
  margin-left:auto;
  margin-right: auto;
  width:600px;
  text-align: center;
}
.b_plate{
  color:white;
  font-family: 'Chalk2';
  font-size: 20px;
}
.pro_header{
  font-family:'Chalk2';
  font-size:40px;
  color:white;
  margin-top:10px;
  margin-bottom:10px;
}
.edit_student{
  min-width:300px;
  max-width:800px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color:white;
  font-family: Courier;
  label{
    color:white;
  }
}
.badge_sh{
  text-align: center;
  vertical-align: middle;
  width:150px;
  height:100px;
  border-style:solid;
  border-width:1px;
  border-color:gray;
  float:left;
  background-color: white;
}
.merit_show{
  background-image:url('merit_1.png');
  background-size: 50px;
  width:50px;
  height:50px;
  float:right;
}
#get_badge_1{
  margin-left:-7px;
}
