// Place all the styles related to the classrooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.overlay_list {
  margin:20px;
}


#overall_chart{
	background-color: #e74c3c;
	float:left;
	padding:30px;
}
#overall_weak_students{
	background-color: $sg_green;
	float:left;
	padding:30px;
	color:white;
	
	.stweta{
		height:173px;
		overflow:scroll;
	}
	a{
		color:white;
	}
	td{
		padding:5px;
		border:solid 1px white;
	}
}
.sessions_det{
	color:white;
	float:left;
	padding:30px;
	background-color:$sg_blue;
	a{
		color:white;
	}
}