a {
	color:$blue;
	text-decoration:none;
	&:hover {
		color:$blue;
		text-decoration:none;
	}
}

.centered {
  display:block;
  text-align:center;
  margin-left: auto;
  margin-right:auto;
}

input[type="text"] {
  border-radius:0;
  border:1px solid gray;
}
input[type="password"] {
  border-radius:0;
  border:1px solid gray;
}

.m_bottom_1 {
  margin-bottom:25px;
}

ul.disc {
  list-style-type:disc;
  margin: 9px 0 15px 25px;
  font-size:14px;
}
