$inside_details_height: 250px;

.class_stat_list {
	@include line-border();
	overflow:auto;
	height: $inside_details_height;
	margin:0;
}

.details_quiz_hist {
	height: $inside_details_height;
	overflow:auto;
}

i.status {
	font-weight:bold;
	font-style: normal;
	background-color: white;
	padding:2px;
}

.stat {
	padding:7px;
	display: inline-block;
	header {
		font-size: 13px;
		line-height:14px;
		width: 3 * 37px + 4;
		text-align: center;
		margin-bottom:7px;
	}
	ul {
		// height: 30px;
		padding:2px;
    border:1px solid gray;

		>li {
			//padding:0 2px 2px 0;
			width: 33px;
			margin:1px;

			font-size:6px;
			line-height:7px;
			text-align: center;
			display:inline-block;
			// float:left;

			div {
				height:20px;
				padding-top: 4px;
				font-size:16px;
				line-height:16px;
			}
		}

		>li.stat-bar {
			display:block;
			width:100%;
      height:7px;
      margin: 3px 0;
			div {
				height: 0;
				font-size:0;
        padding:0;
        margin:0;

				height:7px;
			}
		}
	}
}

span.probs_done, span.percent, span.stu_attempted {
  display:inline-block;
  position:static;
  height:7px;
  width:7px;
}
.probs_done {
  background-color:$sg_green;
}
.percent {
  background-color:$sg_blue;
}
.stu_attempted {
  background-color:$red;
}

select#problem_set_id {
	width:235px;
}
