@import 'mixins_n_colors';

#canvas {
  border: 1px solid black;
  float: left;
  width: 550; 
  height: 400;
}

#shapes {
  float:left;
  div {
    color:white;
    width:16px;
    padding:2px;
    margin-bottom:5px;
    text-align:center;
    font-style:italic;
    // @include rounded-corners(10px);
  }
}
#tools  {
  div {
    @include rounded-corners(10px);
    float:left;
    margin:5px;
    padding:7px;
    border: 2px solid $graphite;
    height:30px;
    span {
      padding:4px 7px 4px 7px;
    }
    input[type="checkbox"] {
      position:relative;
      top:3px;
    }
    input[type="text"] {
      width:100px;
    }
  }

  .selected {
    background-color:$graphite;
    color:white;
  }
}
