$red:    #C40233;
$green:  #60b349;
$blue:   #0087BD;
$yellow: #FFD300;

// $lyellow: #B3A24D; // 40 % saturation
// $lred:    #7C4B57; // 25 % sa
// $lgreen:  #376757; // 30 % sat
// $lyellow: hsl(50, 80%, 50%); // 40 % saturation
// $lred:    hsl(345, 40%, 39%); // 25 % sa
// $lgreen:  hsl(160, 40%, 31%); // 30 % sat
$lyellow: hsl(50, 100%, 58%); // 40 % saturation
$lred:    hsl(345, 100%, 50%); // 25 % sa
$lgreen:  hsl(160, 100%, 45%); // 30 % sat

//$llyellow: hsl(50, 50%, 50%); // 40 % saturation
$llgreen:  hsl(160, 100%, 55%); // 30 % sat
$llred:    hsl(345, 100%, 65%); // 25 % sa
$llyellow: hsl(50, 100%, 75%);

$sgGreen: $green;
$sg_green: $green;
$sgBlue:  $blue;
$sg_blue:  $blue;

$button_blue: $blue;
$orange:  #f89406;
$pink:    #c3325f;
$purple:  #7a43b6;
$navlink: #c1c1d8;
$navG1:   #262632; 
$navG2:   #74748e;
$navGH:   #58588e;
// $sgGreen: #6bad4b;
// $sg_green: #aec833;
// $sgBlue:  #36a0b0;
// $sg_blue:  #36a0b0;
$sg_grey: #7f7f7f;
$light_green: #9fe37f;
$invalid_red: #f2dede;
$paper: #f6ebbb;

$graphite: #503214;

@mixin line-border() {
  border: 1px solid $sg_grey;
}
@mixin dotted-border() {
  border: 2px dashed $blue;
}
@mixin rounded-corners($radius) {
	-moz-border-radius: $radius;
	-webkit-border-radius: $radius;
	border-radius: $radius; /* future proofing */
	-khtml-border-radius: $radius; /* for old Konqueror browsers */
}

@mixin rounded-top-corners($radius) {
	-moz-border-radius-topleft: $radius;
	-webkit-border-top-left-radius: $radius;
	border-top-left-radius: $radius; /* future proofing */
	-khtml-border-radius-topleft: $radius; /* for old Konqueror browsers */

	-moz-border-radius-topright: $radius;
	-webkit-border-top-right-radius: $radius;
	border-top-right-radius: $radius; /* future proofing */
	-khtml-border-radius-topright: $radius; /* for old Konqueror browsers */
}

@mixin shadow($h_off, $v_off, $blur, $spread, $col) {
  // h_off : horizontal offset, positive = right, negative = left
  // v_off : vertical offset, positive = bot, negative = top
  // blur  : 0 => sharp, higher => more blurred (ex 5px)
  // spread: increases size, default 0 => same size as blur...?
  // col   : obvious
  -moz-box-shadow:    $h_off $v_off $blur $spread $col;
  -webkit-box-shadow: $h_off $v_off $blur $spread $col;
  box-shadow:         $h_off $v_off $blur $spread $col;
}

@mixin gradient($first, $second) {
  background-color: $second;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#{ie-hex-str($first)}', endColorstr='#{ie-hex-str($second)}');";
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#{ie-hex-str($first)}', endColorstr='#{ie-hex-str($second)}');;
  zoom: 1;
  background: -webkit-gradient(linear, left top, left bottom, from($first), to($second));
  background: -moz-linear-gradient(top, $first, $second);
}

@mixin unselectable() {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

// creates a triangle facing right of height (2 * size) and width (size)
@mixin right-triangle($size, $color) {
  width: 0; 
  height: 0; 
  border-top: $size solid transparent;
  border-bottom: $size solid transparent;
  border-left: $size solid $color;
}
