@import 'mixins_n_colors';

$image_height: 72px;
$bar_to_top: ($image_height / 2) + 5px;
.sg-nav {
  height:$image_height;
  margin-bottom:20px;

  div { 
    float:left;
    display: inline-block
  }

  ul {
    padding-left: 20px;
    margin:0;
    float:left;

    height: $bar_to_top;

    font-size: 13px;
    font-weight: bold;

    li {
      height:20px;
      padding:5px 10px;
      margin: ($bar_to_top - 30px) 0 0 10px;
      float: left;

      a {
        color: black;
        &:hover {
          color: black;
          text-decoration: none;
        }
      }
    }
    li.switch-to {
      height:15px;
      padding: 8px 16px 9px 16px;
      margin-top: $bar_to_top - 8 - 9 - 15 - 2px;

      background-color: white;
      border-top: 2px solid $sg_green;
      border-right: 2px solid $sg_green;
      border-left: 2px solid $sg_green;
    }
    li.switch-to-header {
      font-size: 11px;
      color: $sg_green;
      padding: 12px 7px 5px 7px;
    }
  }

  ul.pull-right {
    float:right;
    padding-left: 0;
  }
}

#site_logo {
  height:$image_height;
  width:185px;
  margin:5px 0 0 0;
  padding:0;
}

.nav-blue-side {
  height: 80px;
  width:4px;
  border-top: 2px solid $sg_blue;
  border-left: 2px solid $sg_green;
  border-bottom: 2px solid $sg_blue;
}

.nav-line {
  width:100%;
  position:absolute;
  z-index:-1;

  div {
    height:16px;
    margin:0;
    padding:0;
    position: absolute;
    //top: 28px;
    @include gradient(white, #eef4f4);
    &:first-child {
      border-bottom: 2px solid $sg_blue;
    }

    &:last-child {
      border-bottom: 2px solid $sg_green;
    }
  }
}
