@import 'mixins_n_colors';

$notepad_gap: 40px;
// $calc_w: floor(($problem_w - $notepad_gap) / 3);
$calc_w: 270px;
$notes_w: $problem_w - ($notepad_gap + $calc_w);
$notes_h: 200px;

.notepad {
  width: $problem_w;
  div {
    float:left;
  }

  h3 {
    text-align:center;
    display:block;
    margin-bottom:20px;
  }
}

.notes {
  width: $notes_w;
  height: $notes_h;
  background-color: $llgreen;
}

input.digit {
  width:15px;
  height:15px;
  font:13px Courier;
  text-align: center;
}


$calc_input_width: 65px;
.calculator {
  position:absolute;
  width: $calc_w;
  // margin-right:$notepad_gap;

  input[type="text"] {
    text-align: right;
    width:$calc_input_width;
  }

  div.calculate {
    padding-top:5px;
    padding-right:3px;
    text-align:right;
    a {
      width:$calc_input_width - 4px; // padding on button-blue
      text-align:center;
    }
  }
}

#calc-form {
  margin-top:30px;
}

$plus_width: 33px;

@mixin calc-form-norm() { 
  width:$calc_input_width + $plus_width;
  margin-left: ($calc_w - ($calc_input_width + $plus_width))/ 2;
  text-align: left;
  div {
    width:$calc_input_width + $plus_width - 3px;
    text-align: right;
    padding-bottom:5px;
    padding-right:3px;
  }

  div.b {
    border-bottom:2px solid black;
  }
}

#calc-form.addition {
  @include calc-form-norm();
  div.b:before {
    content:"+ "
  }
}

#calc-form.subtraction {
  @include calc-form-norm();
  div.b:before {
    content:"- "
  }
}

#calc-form.multiplication {
  @include calc-form-norm();
  div.b:before {
    content:"x "
  }
}
