// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'mixins_n_colors';



.user_test {
  display:inline-block;
  float:left;
}
#home {
  font-family:"Home_hand";
  font-size:20px;
  width:102%;
  height:100%;
  .home2 {
    float:left;
    width:288px;
    margin-bottom:20px;
    .dotted-border{
    height:252px;
  }
  }
  .home_slide{
    //float:right;
    position:relative;
    .hm_sl{
    width:100%;
  }
  .slide_hm{
    p{
      position:absolute;
      font-size:60px;
      left:10%;
      top:26%;
    }
    .get_started_button{
      position:absolute;
      background-image:url("/assets/Home/get_started.png");
      width:288px;
      height:82px;
      background-size:288px;
      top:80%;
      left:25%;
    }
  }
    margin-bottom:20px;
    position:relative;
    .slide_move {
      position:absolute;
      top:3%;
      left:89%;
      .home_tb{
        vertical-align: none;
      }
    }
  }
  .home3 {
    width:80%;
    float:left;
    height:800px;
    text-align:center;
    margin-left:2%;
    margin-top:1%;
    .dotted-border-header-black {
      font-size: 30px;

    }
    .dotted-border {
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.45);
    border:0px;
      border-color:#3a9fae;
      float:left;
      width:85%;
      height:100%;
      #video_home {
        width:100%;
        height:100%;
          iframe {
            width:100%;
            height:100%;
          }
      }
    }
  }
}
#tabs{
width:15%;
margin-left:20px;
margin-right:0%;  
}
.dotted-border-header-black{background-color:green;}
.dotted-border-header-black:hover{
border-radius:8px;
background-color:#9370DB;
  
}


.dropdown{

color: #555;
margin: 3px 0px 0 0;
width: 143px;
position: relative;
height: 17px;
text-align:left;
}
.dropd{
  background-color: #fff;
position: absolute;

top: -12px;
left: -20px;
z-index: 100;
width: 80%;
display: block; 
/* change value of display to none for toggling to click.....*/
margin-left: 10px;
padding: 40px 0 5px;
border-radius: 6px;
box-shadow: 0 2px 8px rgba(0, 0, 0, 0.45);
}

.dropdown li a {
background:#fff;
color: #555555;
display: block;
font-family: arial;
font-weight: bold;
padding: 6px 15px;
cursor: pointer;
text-decoration:none;
}
.dropdown li a:hover
{
background:#155FB0;
color: #FFFFFF;
text-decoration: none;
-webkit-transition:all 1s ease-in;
-moz-transition:all 1s ease-in-out;
-o-transition: all 1s ease-in-out;
-ms-transition: all 1s ease-in;    
transition: all 1s ease-in-out;
border-radius:10px;
}
a.account 
{
font-size: 30px;

line-height: 16px;
color: #555;
position: relative;
z-index: 110;
display: block;
padding: 11px 0 0 20px;
height: 28px;
width: 121px;
margin: -11px 0 0 -10px;
text-decoration: none;
background: url(icons/arrow.png) 116px 17px no-repeat;
cursor:text;
width:100%;

}
.root
{
list-style:none;
margin:0px;
padding:0px;
font-size: 11px;
padding: 11px 0 0 0px;
/*border-top:1px solid #dedede;*/
border: 1px solid #dedede;
}


/*.lines {
  border-left: 1px solid #ffaa9f;
  border-right: 1px solid #ffaa9f;
  width: 2px;
  float: left;
  height: 495px;
  margin-left: 40px;
}
*/

    .testimonial{
      height:214px;
      width:288px;
      background-image:url("/assets/Home/blue_wall.png");
      color:white;
      text-align: left;
      float:left;
      margin-right: 28px;
      br {
        height:20px;
      }
      a {
        color:white;
      margin:20px;
      padding-left:5px;
      padding-right:5px;
      font-size:24px;
      background-color: #2b8a99;
    }
    }

.teammember { 
  img {
    float:left;
    margin-right:15px;
  }

  .spacer {
    clear:both;
    height:5px;
  }
}

#featuresaccordion {
  font-size:12px;
  .accordion-group {
    margin:10px 0px;
    border-width:2px;
    border-style:solid;
  }
  .accordion-inner {
    border-style: solid none none none;
    border-width:2px;
  }
  h2 {
    text-indent:20px;
  }
  .imageright {
    float:right;
    padding:0 10px;
  }
  .imageleft {
    float:left;
    padding:0 10px;
  }
  p {
    text-align:justify;
    margin:0px;
    font-size:1.1em;
  }
}
.b_green {
  border-color: $green;
}
.b_red {
  border-color: $red;
}
.b_blue {
  border-color: $blue;
}
.b_yellow {
  border-color: $yellow;
}
.b_orange {
  border:1px solid $orange;
}

#emailinfo {
  float:left;
  width:60%;
}
#mailinfo {
  float:left;
  width:40%;
}
.contactinfo {
  @include rounded-corners(5px);
  border: 2px solid $graphite;
  padding:10px;
  margin:10px;
  h2 {
    font-weight:none;
    padding-bottom:5px;
    font-size:1.3em;
    margin:0 0 4px 0;
    border-bottom:2px solid black;
  }
  .lcol {
    float:left;
    width:100px;
  }
}

#aboutnav {
  position:relative;
  left:-10px;
  top:10px;
  float:left;
  @include rounded-corners(5px);
  border: 2px solid $graphite;
  margin:0px;
  div {
    width:60px;
    padding:5px 10px;
  }
  .selected {
    color:white;
    background-color:$graphite;
  }
}
#aboutcontent {
  float:left;
  width:670px;
}

.lastgeoprob {
  padding:10px;
  @include rounded-corners(5px);
  input {
    display:block;
    margin-bottom:10px;
  }
}
.lastprobinfo {
  height:40px;
  width:450px;
  margin-left: auto;
  margin-right: auto;
  div {
    text-align:center;
    padding:10px;
    @include rounded-corners(5px);
  }
}

.exampleprob {
  width:450px;
  margin-left: auto;
  margin-right: auto;
  margin-top:40px;
  text-align:center;
  @include rounded-corners(5px);
  border:2px solid $graphite;
  padding:10px;
  .actions {
    margin-top:15px;
  }
}

.incorrectex {
  border:1px solid $red;
}

.correctex {
  border:1px solid $green;
}

// HOMEPAGE {{{

ul.home { 
  list-style-type: square;
  font-size:16px;
  padding:10px 0;
  li {
    padding:7px 0;
  }
}

$slidecol: #444;
#slideshow {
  min-width:450px;
  position:relative;
  .slide {
    display:none;
    position:absolute;
    padding:0;
    div {
      padding:10px 10px 0px 10px;
      // description:
      height:100px;
      //background-color:$slidecol;
    }
    img {
      //width:450px;
      //height:260px;
      display:block;
      margin-left:auto;
      margin-right:auto;
      margin-bottom:10px;
    }
  }
  .selected {
    display:block;
  }
}
.slidebutton {
  position:relative;
  height:260px;
  width:30px;
  top:110px;
  @include rounded-corners(4px);
  &:hover {
    img {
      display:block;
    }
    //background-color:#eeefef;
  }
  img {
    margin-top:100px;
    display:none;
  }
}

#prevslide {
  float:left;
}

#nextslide {
  float:right;
}
#sbrowse{
  position:absolute;
  top:0px;
  left:30px;
  p{
    float:left;
    font-size:24px;
  }
  img{
    width:60px;
  }
}
#math_history{
  float: left;
display: inline-block;
max-width: 500px;
border-style: solid;
border-width: 1px;
margin-right: 20px;
box-shadow: 4px 4px 4px #888888;
padding: 20px;
text-align: justify;
background-color: purple;
color: white;
font-family: Courier;
margin-top:20px;
}
.math_video{
  float:left;
  display: inline-block;
  box-shadow: 4px 4px 4px #888888;
  margin-top:20px;
}
.math_head{
  text-align: center;
  font-family: Courier;
  color:black;
}
.math_tag{
  text-align: center;
  font-family: Courier;
}


/* ----sections---- */

#home, #work, #about, #contact, #how_it_helps, #how_it_works{
  position:relative;
  margin-bottom:500px;
  width:100%;
  padding-top:15px;
  text-align: center;
}
#top{
  margin-bottom:0px;
}
#work, #about, #contact, .columns, .intro-text{
  padding:10px;
}
#main-content section .intro-text h2{
  font-family:"LaneNarrowRegular", Arial, Helvetica, sans-serif;
  text-transform:uppercase;
  
}
.intro-text{
  font-family:"Lane_Narrow", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  
}

#main-content{
  width:670px;
   margin: 0 auto;
}

.green_text{
  color:$sg_green;
}
.blue_text{
  color:$sg_blue;
}
.clearfix:before, .clearfix:after {  content: "\0020"; display: block; height: 0; visibility: hidden;  } 
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


#how_it_helps_content{
  border: 1px solid #CCCCCC;
  -webkit-box-shadow: 0 8px 6px -6px black;
     -moz-box-shadow: 0 8px 6px -6px black;
          box-shadow: 0 8px 6px -6px black;
}

#how_it_works img{
  border: 1px solid #CCCCCC;
  -webkit-box-shadow: 0 8px 6px -6px black;
     -moz-box-shadow: 0 8px 6px -6px black;
          box-shadow: 0 8px 6px -6px black;
}

.page_header_home {
  border-bottom: 1px solid #CCC;  
  -webkit-box-shadow: 0 8px 6px -6px black;
     -moz-box-shadow: 0 8px 6px -6px black;
          box-shadow: 0 8px 6px -6px black;
}

.page_header_home h1 {
  margin-top: 0;
  margin-bottom: 0;

}

.page_header_home h1:after {
  background-color: #63bd5a;
  bottom: 0;
  content: "";
  margin-top: 10px;
  margin-bottom: -10px;
  display: block;
  width: 50px;
  margin-left: 0px;
  height: 3px;
}

/*-----steps-----*/

.step{
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  display: inline-block;
  border-radius: 50%;
  background: #fff;
  border: 1px solid #ccc;
  font-weight: 700;
  font-size: 22px;
  color:$sg_green;
  margin-bottom: 20px;
  -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
      box-shadow: 0 8px 6px -6px black;
}

#steps{
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #CCC;  
}

#steps h2{
  font-family:"Lane_Narrow", Arial, Helvetica, sans-serif;
  text-transform: uppercase;  
}

footer {
    /* margin: auto; */
      position: fixed;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
    background-color: #fff;
    color: #222;
    text-align:center;
}

footer h4{
    color: rgba(0,0,0,0.6);
    text-shadow: 2px 2px 3px rgba(255,255,255,0.1);
}

// }}}
