// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@mixin rounded-corners($radius) {
	-moz-border-radius: $radius;
	-webkit-border-radius: $radius;
	border-radius: $radius; /* future proofing */
	-khtml-border-radius: $radius; /* for old Konqueror browsers */
}

.teammember { 
  clear:left;
  .info {
    padding:10px 20px 10px 0;
    float: left;
    img {
      width:125px;
      height:125px;
    }
  }

  .name {
    border-bottom:2px solid black;
    height: 20px;
    margin-right:20px;
    font-size:1.20em;
  }
  
  .text {
    font-size:1em;
    width:625px;
    padding:10px 0;
    float:left;
    .why {
    }
  }
}
