// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'mixins_n_colors';

.teammember { 
  clear:left;
  .info {
    padding:10px 20px 10px 0;
    float: left;
    img {
      width:125px;
      height:125px;
    }
  }

  .name {
    border-bottom:2px solid black;
    height: 20px;
    margin-right:20px;
    font-size:1.20em;
    padding:3px;
  }
  
  .text {
    font-size:1em;
    width:525px;
    padding:10px 0;
    float:left;
  }
}

#featuresaccordion {
  .accordion-group {
    margin:10px 0px;
    border-width:2px;
    border-style:solid;
  }
  .accordion-inner {
    border-style: solid none none none;
    border-width:2px;
  }
  h2 {
    text-indent:20px;
  }
  .imageright {
    float:right;
    padding:0 10px;
  }
  .imageleft {
    float:left;
    padding:0 10px;
  }
  p {
    text-align:justify;
    margin:0px;
    font-size:1.1em;
  }
}
.b_green {
  border-color: $green;
}
.b_red {
  border-color: $red;
}
.b_blue {
  border-color: $blue;
}
.b_yellow {
  border-color: $yellow;
}
.b_orange {
  border:1px solid $orange;
}

#emailinfo {
  float:left;
  width:60%;
}
#mailinfo {
  float:left;
  width:40%;
}
.contactinfo {
  @include rounded-corners(5px);
  border: 2px solid $graphite;
  padding:10px;
  margin:10px;
  h2 {
    font-weight:none;
    padding-bottom:5px;
    font-size:1.3em;
    margin:0 0 4px 0;
    border-bottom:2px solid black;
  }
  .lcol {
    float:left;
    width:100px;
  }
}

#aboutnav {
  position:relative;
  left:-10px;
  top:10px;
  float:left;
  @include rounded-corners(5px);
  border: 2px solid $graphite;
  margin:0px;
  div {
    width:60px;
    padding:5px 10px;
  }
  .selected {
    color:white;
    background-color:$graphite;
  }
}
#aboutcontent {
  float:left;
  width:670px;
}
.logo {
  color:$graphite;
  text-align:center;
  text-decoration: none;
  display: block;
  font-family: "SketchRockwell";
  border: 0;
  padding: 4px;
  margin-bottom:12px;
  font-size: 3em;
}

.lastprobinfo {
  height:40px;
  width:450px;
  margin-left: auto;
  margin-right: auto;
  div {
    text-align:center;
    padding:10px;
    @include rounded-corners(5px);
  }
}

.exampleprob {
  width:450px;
  margin-left: auto;
  margin-right: auto;
  margin-top:40px;
  text-align:center;
  @include rounded-corners(5px);
  border:2px solid $graphite;
  padding:10px;
  .actions {
    margin-top:15px;
  }
}

.incorrectex {
  border:1px solid $red;
}

.correctex {
  border:1px solid $green;
}
