// Place all the styles related to the problemanswers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$graphite: #503214;

@mixin rounded-corners($radius) {
	-moz-border-radius: $radius;
	-webkit-border-radius: $radius;
	border-radius: $radius; /* future proofing */
	-khtml-border-radius: $radius; /* for old Konqueror browsers */
}

#quizname {
  font-size:2em;
  text-align: center;
  padding:10px;
  margin-bottom:20px;
  margin-top:10px;
}

#quizheader {
  padding:10px;
  font-size: 1.3em;
}

#quiz {
  padding:10px;
  width:450px;
  border: 2px solid $graphite;
  @include rounded-corners(5px);
  form {
    padding:10px;
  }
}
