// Place all the styles related to the Problem controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'mixins_n_colors';

.commabox {
  width:7px;
  height:7px;
  background-color:white;
  border-style:solid;
  border-width:1px;
}
.commachecked {
  background: url("../assets/comma.png") 0 0 no-repeat;
  border-width:0px;
  margin-top:8px;
}

#problemtabs {
  input {
    float:left;
  }
  label {
    padding:3px 5px;
  }
}

.problem {
  margin: 10px 45px;
  input[type="text"] {
    width:50px;
    //margin:0 7px 7px 0;
    margin-right:7px;
  }
  select {
    width:70px;
  }

  .multifield {
    div {
      padding:3px 0 3px 7px;
      label, input {
        display: inline;
      }
    }
  }

  .inline-block {
    display:table-cell;
    vertical-align:middle;
    position:relative
  }

  .inline-block > div {
    display:inline-block;
    vertical-align:middle;
  }
}

.problem-elt {
  margin-bottom:5px;
}

.correct, .incorrect {
  //display:inline-block;
  padding:3px;
  @include rounded-corners(2px);
}

.correct {
  background-color: $light_green;
}
.incorrect {
  background-color: $invalid_red;
}

div.permutationDrag {
  position:relative;
  padding: 5px;
  @include rounded-corners(2px);
  background-color:white;
  cursor:move;
}

div.permutationDrag > div {
  padding:20px 10px 20px 10px;
  border: 1px solid $sgGreen;
  //background-color:$light_green;
  display:inline-block;
  position:absolute;
  @include unselectable();
}

div.permutationDragAnswer {
  padding: 5px;
  @include rounded-corners(2px);
}

div.permutationDragAnswer > div {
  padding:20px 10px 20px 10px;
  border: 1px solid black;
  display:inline-block;
  @include unselectable();
}

.checkbox-item label, .checkbox-item input {
  display:inline-block;
}
