// Place all the styles related to the Problem controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'mixins_n_colors';

.commabox {
  width:7px;
  height:7px;
  background-color:white;
  border-style:solid;
  border-width:1px;
}
.commachecked {
  background: url("../assets/comma.png") 0 0 no-repeat;
  border-width:0px;
  margin-top:8px;
}

#problemtabs {
  input {
    float:left;
  }
  label {
    padding:3px 5px;
  }
}

.problem, .sub-problem {
  margin: 10px 25px;
  font-family: "Courier";
  input[type="text"] {
    margin: 3px;
    padding:2px;
    text-align:center;
  }
  select {
    width:70px;
  }

  .multifield {
    float:left;
    div {
      padding:3px 0 3px 7px;
      label, input {
        display: inline;
      }
    }
    .table-striped td{
      padding-right:10px;
    }
  }

  .inline-block {
    display:table-cell;
    vertical-align:middle;
    position:relative
  }

  .inline-block > * {
    display:inline-block;
    vertical-align:middle;
  }
}

.problem-elt {
  margin-bottom:5px;
}


.checkbox-item label, .checkbox-item input {
  display:inline-block;
}
