b.problem_set {
	display:inline;
	font-weight:normal;
	color:#6ca544;
}
@mixin hist_check($d_y:0) {
	position:relative;
   	&:before {
		display:inline;
   		content: url('correct_check.png');
   	}
}

// d_y is vertical compensation
@mixin hist_x($d_y:0) {
	position:relative;
   	&:before {
		display:inline;
		margin-top:3px;
   		content: url('incorrect_3.png');
   	}
}
.correct_hist {
		@include hist_check();
}
.incorrect_hist {
		@include hist_x();
}

div.link.checkbox.unchecked{
    background-color:gray;
}
.pset_bar {
	width:97%;
	height:20px;
	margin-top:5px;
	border-style:double;
	-webkit-border-radius:0px;
	border-radius: 0px;
	border-color:#c5c5c5;

	.bar {
		height:100%;
		float:left;
	}
	.bar-info {
		background-color: $sg_blue;
	}
	.bar-success {
		background-color: $sg_green;
	}
	.bar-danger {
		background-color: $lred;
	}
}
.exit_qu {
	background-image:url("exit_qu.png");
	width:18px;
	height:18px;
	position:relative;
	top:10px;
	left:-5px;
}
.pset_desc{
	margin-top:0px;
	font-family: Courier;
	font-size:16px;
	//max-width:700px;
	//width:50%;
	float:left;
	text-align: justify;
	color:white;
	//margin-right:20px;
}