// Place all the styles related to the problemanswers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'mixins_n_colors';
#quizname {
  font-size:2em;
  text-align: center;
  padding:10px;
  margin-bottom:20px;
  margin-top:10px;
}

#quizheader {
  padding:10px;
  font-size: 1.3em;
}

#quiz {
  background-color:white;
  padding:10px;
  width:450px;
  border: 2px solid $graphite;
  @include rounded-corners(5px);
  form {
    padding:10px;
  }
}
