$prog_bar_h: 7px;
.progress_bar {
	position:relative;
	height: $prog_bar_h;
	margin-bottom: $prog_bar_h * 1.5;
	width:$problem_w;
	&>* {
		height:$prog_bar_h;
		&>* { height: $prog_bar_h; }
	}

  &>.middle>.marker {
    left:0;
    top:0;
    position:relative;
    background-color:black;
    width:1px;
    &>div {
      position:absolute;
      top:$prog_bar_h;
      width:100px;
      height:10px;
      line-height:10px;
      font-size:8px;

      background-color:white;
      // color:black;
    }
  }

  .marker.right {
    &>div { 
      border-left:1px solid black; 
      padding-left:3px;
    }
  }

  .marker.left {
    &>div {
      left:-103px;
      text-align:right;
      border-right:1px solid black;
      padding-right:3px;
    }
  }

	.middle {
		width: $problem_w;
		&>div {
			float:left;
		}
	}

	.left {
		position: absolute;
		width:$problem_side_m;
		left:(-$problem_side_m);
		top:0;
	}
	.right {
		position:absolute;
		width: $problem_side_m;
		left: $problem_w;
		top:0;
	}
}

.progress_bar.red {
	.left {
		background-color:$red;
	}
	.right {
		background-color:$green;
	}
	.middle {
		background-color: $llred;
	}
	.right_points {
		background-color: $green;
	}
}

.progress_bar.yellow {
	&>.left {
		background-color:$yellow;
	}
	&>.right {
		background-color:$green;
	}
	&>.middle {
		background-color: $llyellow;
		.complete {
			background-color:$yellow;
		}
		.wrong_points {
			background-color: $red;
		}
		.right_points {
			background-color:$green;
		}
	}
}

.progress_bar.green {
	div {
		background-color:$green;
	}
}
