// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$graphite: #503214;
form.signin {
  margin-right: auto;
  margin-left: auto;
  width:500px;
  .field {
    float:left;
    input {
      float: left;
      width: 167px;
      margin:5px;
    }
  }
  .actions {
    float: left;
    input {
      text-align:center;
      float:left;
      width:63px;
      margin-right:0px;
      margin-left:0px;
    }
  }
}

.break {
  clear: left;
}
