// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$graphite: #503214;
form.signin {
  margin-right: auto;
  margin-left: auto;
  width:500px;
  .field {
    input {
      width: 167px;
      height:25px;
      margin:5px;
      padding:0px;
    }
  }
  .actions {
    padding-top:4px;
    input {
      text-align:center;
      width:60px;
      margin-right:5px;
      margin-left:0px;
      height:25px;
    }
  }
}

#logIn {
  font-family: Courier;
  position:absolute;
  margin-top:-10%;
//  margin-left:-200px;
  border-radius: 0px;
  -webkit-border-radius:0px;
// width:428px;
  .modal-header{
    padding-left:0;
    border:none;
    width:100%;
  }
  label {
    display:inline
  }
}
.break {
  clear: left;
}
