// Place all the styles related to the students controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'mixins_n_colors';
$blackboard_w: 187px;
$blackboard_h: 148px;
$border_w: 7px;
// $border_w: 0px;
  
.student-info {
  float:right;
  position:relative;
  top: -28px;
  
  height: 10px;
  overflow:visible;
}

.stinfo {
  font-family:"Sans";
  font-size:12px;
}

.notf{
  // border:1px solid #ccc;
  width:300px;
  padding:10px 10px 10px 30px;
  border-bottom: 1px dotted rgb(28,204,252);
  font-family: "Aller";
  font-size: 16px;
  transition: all 0.3s ease-out;
}

#news .dropdown-menu:before{
    }
    .dropdown-menu:hover{overflow-y:auto;width:310px;}
.dropdown-menu {
  position: absolute;
  overflow:hidden;
  top: 100%;
  left: -1px;
  right:-1px;
  z-index: 1000;
  max-height:300px;
  float: left;
  display: none;
  width:300px;
  min-width: 160px;
  padding: 4px 0;
  margin: 0;
  list-style: none;
  background-color:white;
  border-color: #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  
}
#news .dropdown-menu li:before{content: "";
    width: 4px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 15px;
    border: 1px solid #ffaa9f;
    border-top: none;
    border-bottom: none;
    z-index: 2;}
#news .dropdown-menu li{
  overflow:hidden;
  cursor:pointer;
  position:relative;
  display: block;
  padding: 10px 10px 10px 30px; /* Same padding as the button */
  border-bottom: 1px dotted #1ccfcf;
  transition: all 0.3s ease-out;
}
.dropdown-menu.pull-right {
  right: 0;
  left: auto;
}
.dropdown-menu .divider {
  height: 1px;
  margin: 8px 1px;
  overflow: hidden;
  background-color: #e5e5e5;
  border-bottom: 1px solid #ffffff;
  *width: 100%;
  *margin: -5px 0 5px;
}
.dropdown-menu a {
  display: block;
  padding: 3px 15px;
  clear: both;
  font-weight: normal;
  line-height: 18px;
  color: #333333;
  white-space: nowrap;
}
.dropdown-menu li:hover{
  background-color: #87CEEB;
  transition:all 1s ease-in-out;
  -webkit-transition:all 1s ease-in-out;
  -moz-transition:all 1s ease-in-out;
}
.dropdown-menu li > a:hover,
.dropdown-menu .active > a,
.dropdown-menu .active > a:hover {
  color: #ffffff;
  text-decoration: none;
  background-color: #0088cc;
}
.dropdown.open {
  *z-index: 1000;

}
.dropdown.open .dropdown-toggle {
  color: #ffffff;
  background: #ccc;
  background: rgba(0, 0, 0, 0.3);
}



.jScroll_bboard{
  margin-top: 10px;
  margin-left: 2px;
  margin-right: 5px;
  width: 635px;
  height: 400px;

}

.cols-his{
  ul{
    padding:0;
  }
  li{
    border:1px solid #ccc;
    padding:5px;
  }
}


.img_st{
  float:left;
}
.bot_bor{
  background-color: pink;
  height:8px;
  position: absolute;
top: 19px;
width: 100%;
z-index: -1;
}

.list-box-table {
  td {
    padding-right: 25px;
    padding-bottom: 10px;
    width:$blackboard_w;
    &:last-child {
      padding-right: 0;
    }
  }
}

.list_box {
  position: relative;
  display: inline-block;
  background: transparent url('blackboard_bg.jpg') (-$border_w) (-$border_w) no-repeat;
  border-width: $border_w; 
  border-style: solid;

    // image size: 188 * 140 px
    width: $blackboard_w - 2 * $border_w;
    // height: 180px;
    height: $blackboard_h - 2 * $border_w;
  }
.list_box_2 {
position: relative;
vertical-align: middle;
display: inline-block;
background: transparent url("blackboard_bg.jpg") -7px -7px no-repeat;
border-width: 7px;
border-style: solid;
border-color: white;
box-shadow: 0 0 10px;
width: 187px;
height: 148px;
  }
  .transp-border {
    border-color: transparent;
  }

  .red-bord {
    border-color: #e74c3c;
    border-width:12px;
  }
  .green-bord {
    border-color: #3498db;
    border-width:12px;
  }
  .yellow-bord {
    border-color: #2ecc71;
    border-width:12px;
  }

  div.problem_list_box:hover{
  //-moz-box-shadow: inset 0 0 70px black;
//-webkit-box-shadow: inset 0 0 70px black;
//box-shadow: inner 0 0 70px black;
background-image: none;

}
  div.problem_list_box {
   /* -moz-box-shadow: inset 0 0 40px black;
-webkit-box-shadow: inset 0 0 40px black;
box-shadow: inner 0 0 40px black;*/
    p {
      width: 173px;
    padding:8px;
    height:96px;
    z-index:-100;
    line-height: 20px;
    margin:0px;
    text-align: center;
    vertical-align:middle;
    display:table-cell;
    color: white;
    font-size: 24px;
    font-family:"Chalk2";
      small {
        font-family:"Courier";
      }
    }


  a,.link {
    
     
float: left;
margin-left: 23px;
font-family: Courier;
display: block;
padding: 2px;
width: 127px;
text-align: center;
color: white;
background-color: #3498db;
    //box-shadow: 4px 4px 2px black;

  }
  a:hover,.link:hover {
    /*-moz-box-shadow: inset 0 0 10px black;
-webkit-box-shadow: inset 0 0 10px black;
box-shadow: inner 0 0 10px black;*/
background-color: #2ecc71;
    
  }
  .normal_a_link:hover{
    background-color: #3498db;
  }
  .normal_a_link{
    position: absolute;
    background-color: transparent;
    left:145px;
    top:7px;
    height:20px;
    width:20px;
    margin:0px;
    padding:0px;
    background-color:#2ecc71;
    border-radius:50%;
    font-family: "Home_hand";
  }
  


}



.list_box:hover{
background-image: none;
}

div.pset_list_box {
vertical-align:middle;
/*-moz-box-shadow: inset 0 0 40px black;
-webkit-box-shadow: inset 0 0 40px black;
box-shadow: inner 0 0 40px black;*/
  p {

width: 170px;
padding: 8px;
height: 96px;
z-index: -100;
margin: 0px;
text-align: center;
vertical-align: middle;
display: table-cell;
color: white;
font-size: 24px;
font-family: "Chalk2"
  }

}

.start_pset {
  // position: relative;
  position: relative;
  // top: 150px;
  float:right;
  display: inline-block;
  margin: 10px 0;
  left:-14px;

  width:75px;
  height: 28px;
  background-color: $sg_blue;

  a {
    position:absolute;
    display:block;
      width: 75px - 14px + 14px; // - padding + triangle
      height:14px;
      padding:7px;
      color: white;
      font-size: 11px;
      background-color: transparent;
    }

    &>div.right_triangle {
      position:relative;
      left:75px;
      top:0;
      @include right-triangle(14px, $sg_blue);
      margin:0;
    }
  }
  .quiz-link{
      box-shadow: 4px 4px 2px black;
      
      position: absolute;
    left: 120px;
    display: block;
    padding: 5px;

    width:117px;
    height: 17px;

    text-align: center;
    color: white;
    background-color: orange;
    font-family: Courier;
  }
    .quiz-link:hover{
     -moz-box-shadow: inset 0 0 10px #888;
-webkit-box-shadow: inset 0 0 10px #888;
box-shadow: inner 0 0 10px #888;
   }
  .gif_tick{
    overflow: visible; 
    text-align:center;
  }
  .pset_pbar {
    width:187px;
    float:left;
    margin-left:3.7%;
    margin-top:3.7%;
  }
  .shelf {
margin-top:100px;
margin-right: 0px;
margin-bottom: 50px;
margin-left: 0px;
position: relative;

}

.shelf .shelf_ul {
    margin: 23px 0;
    padding: 0;
    height: 19px;
    //border-bottom: 8px solid pink;
    background-color: #ccc;
}
 
    .shelf .shelf_ul:before {
        border-right: 38px solid transparent;
        border-top: 18px solid #FFFFFF;
        content: "";
        float: left;
        margin: 0;
        width: 0;
    }
 
    .shelf .shelf_ul:after {
        border-left: 38px solid transparent;
        border-top: 18px solid #FFFFFF;
        content: "";
        float: right;
        margin: 0;
        width: 0;
    }
 
.shelf .shelf_ul .shelf_li {
    float: left;
    list-style: none outside none;
    margin: -28px 10px 0;
    padding: 3px;
    position: relative;
    text-align: center;
    width: 80px;
    height:75px;
}
 .shelf .st_img {
  border-radius:50%;
  margin-top:-40px;

 }

 .shelf .st_img:hover{
  transform: rotateY(50deg);
-webkit-transform: rotateY(50deg);
 }
.shelf_ul a {

    padding: 7px;
    display: block;
    text-decoration: none;
    color: #fff;
}
#points{
  background-color:orange;
  padding-top:17px;
  padding-bottom:15px;
  margin-top:-17px;
  color:white;
}
#points:hover{
  background-image: linear-gradient(bottom, rgb(79,245,112) 11%, rgb(17,199,212) 56%);
background-image: -o-linear-gradient(bottom, rgb(79,245,112) 11%, rgb(17,199,212) 56%);
background-image: -moz-linear-gradient(bottom, rgb(79,245,112) 11%, rgb(17,199,212) 56%);
background-image: -webkit-linear-gradient(bottom, rgb(79,245,112) 11%, rgb(17,199,212) 56%);
background-image: -ms-linear-gradient(bottom, rgb(79,245,112) 11%, rgb(17,199,212) 56%);

background-image: -webkit-gradient(
  linear,
  left bottom,
  left top,
  color-stop(0.11, rgb(79,245,112)),
  color-stop(0.56, rgb(17,199,212))
);
}
a.plate{
  background-color:#9b59b6;
  font-family: 'Home_hand';
  font-size:25px;
  padding-top:0;
  padding-bottom: 0;
}

.plate:hover{
  -webkit-transition: all 0.5s ease-in-out 0s;
-webkit-border-radius: 10px;
  }

.dropdown-toggle2{
  background-image: url('/assets/envelope.png');
border: none;
background-color: transparent;
//margin-top: -35px;
height: 60px;
width: 100%;
box-shadow: none;
-webkit-box-shadow: none;
-moz-box-shadow: none;
background-size: 100%;
margin-top: -22px;

}
.dropdown-toggle2:hover{

background-position-x: 0px;
border: none;
background-color: transparent;
background-position-y: 0px;
}
#open-walkthrough{
  img{
    width:120%;
    margin-top:-50px;
  }
}
#prof_cont{
  background-image: url('/assets/blue_wall_2.png');
  padding-bottom:35px;
}
.char{
  display: block;
  background-image:url('/assets/characters.svg');
  overflow:hidden;
  height:100px;
  width:100px;
}
.char_disp{
  float:left;
  margin:5px;
}
.st_img_2{
  border-radius: 50%;
  margin-top: -70px;
  padding: 0;
  margin-left: -17px;
}
.char_1{
  background-position:-15px -20px;
}
.char_2{
  background-position:-133px -20px;
}
.char_3{
  background-position:-267px -20px;
}
.char_4{
  background-position:-398px -20px;
}
.char_5{
  background-position:-525px -20px;
}
.char_6{
  background-position:-8px -160px;
}
.char_7{
  background-position:-133px -155px;
}
.char_8{
  background-position:-267px -160px;
}
.char_9{
  background-position:-400px -160px;
}
.char_10{
  background-position:-525px -160px;
}
.char_11{
  background-position:-7px -290px;
}
.char_12{
  background-position:-133px -290px;
}
.char_13{
  background-position:-267px -290px;
}
.char_14{
  background-position:-400px -290px;
}
.char_15{
  background-position:-525px -290px;
}
.char_16{
  background-position:-7px -425px;
}
.char_17{
  background-position:-133px -425px;
}
.char_18{
  background-position:-267px -425px;
}
.char_19{
  background-position:-400px -425px;
}
.char_20{
  background-position:-525px -425px;
}


#graphs_p{
  img{
    width:75px;
    margin-top: -50px;
  }
}