// Place all the styles related to the students controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'mixins_n_colors';
$blackboard_w: 187px;
$blackboard_h: 148px;
$border_w: 7px;
// $border_w: 0px;
  
.student-info {
  float:right;
  position:relative;
  top: -28px;
  
  height: 10px;
  overflow:visible;
}

.stinfo {
  font-family:"Sans";
  font-size:12px;
}

.jScroll_bboard{
  margin-top: 10px;
  margin-left: 2px;
  margin-right: 5px;
  width: 635px;
  height: 400px;

}


.list-box-table {
  td {
    padding-right: 25px;
    padding-bottom: 10px;
    width:$blackboard_w;
    &:last-child {
      padding-right: 0;
    }
  }
}

.list_box {
  position: relative;
  display: inline-block;
  background: transparent url('blackboard_bg.jpg') (-$border_w) (-$border_w) no-repeat;
  border-width: $border_w; 
  border-style: solid;

    // image size: 188 * 140 px
    width: $blackboard_w - 2 * $border_w;
    // height: 180px;
    height: $blackboard_h - 2 * $border_w;
  }

  .transp-border {
    border-color: transparent;
  }

  .red-bord {
    border-color: $lred;
  }
  .green-bord {
    border-color: $sg_blue;
  }
  .yellow-bord {
    border-color: $sg_green;
  }
div.problem_list_box:hover{
  -moz-box-shadow: inset 0 0 70px black;
-webkit-box-shadow: inset 0 0 70px black;
box-shadow: inner 0 0 70px black;
background-image: none;

}
  div.problem_list_box {
    -moz-box-shadow: inset 0 0 40px black;
-webkit-box-shadow: inset 0 0 40px black;
box-shadow: inner 0 0 40px black;
    p {
      width: 157px;
    padding:8px;
    height:80px;
    z-index:-100;
    margin:0px;
    text-align: center;
    vertical-align:middle;
    display:table-cell;
    color: white;
    font-size: 24px;
    font-family:"Chalk2";
      small {
        font-family:"Courier";
      }
    }


  a,.link {
    
     
    float:left;
    margin-left:23px;
    font-family:Courier;
    display: block;
    padding: 5px;
    width:117px;
    height: 17px;
    text-align: center;
    color: white;
    background-color: $sg_blue;
    box-shadow: 4px 4px 2px black;

  }
  a:hover,.link:hover {
    -moz-box-shadow: inset 0 0 10px black;
-webkit-box-shadow: inset 0 0 10px black;
box-shadow: inner 0 0 10px black;
    
  }
  .normal_a_link{
    position: absolute;
    background-color: transparent;
    left:146px;
    top:7px;
    height:20px;
    width:20px;
    margin:0px;
    padding:0px;
    background-color:$sg_green;
    border-radius:50%;
    font-family: "Home_hand";
  }
  


}



div.pset_list_box:hover{
-moz-box-shadow: inset 0 0 70px black;
-webkit-box-shadow: inset 0 0 70px black;
box-shadow: inner 0 0 70px black;
background-image: none;
}

div.pset_list_box {
  display:table-cell;
  vertical-align:middle;
-moz-box-shadow: inset 0 0 40px black;
-webkit-box-shadow: inset 0 0 40px black;
box-shadow: inner 0 0 40px black;
  p {
    width: 157px;
    padding:8px;
    height:80px;
    z-index:-100;
    margin:0px;
    text-align: center;
    vertical-align:middle;
    display:table-cell;
    color: white;
    font-size: 24px;
    font-family:"Chalk2";
  }

}

.start_pset {
  // position: relative;
  position: relative;
  // top: 150px;
  float:right;
  display: inline-block;
  margin: 10px 0;
  left:-14px;

  width:75px;
  height: 28px;
  background-color: $sg_blue;

  a {
    position:absolute;
    display:block;
      width: 75px - 14px + 14px; // - padding + triangle
      height:14px;
      padding:7px;
      color: white;
      font-size: 11px;
      background-color: transparent;
    }

    &>div.right_triangle {
      position:relative;
      left:75px;
      top:0;
      @include right-triangle(14px, $sg_blue);
      margin:0;
    }
  }
  .quiz-link{
      box-shadow: 4px 4px 2px black;
      
      position: absolute;
    left: 120px;
    display: block;
    padding: 5px;

    width:117px;
    height: 17px;

    text-align: center;
    color: white;
    background-color: orange;
    font-family: Courier;
  }
    .quiz-link:hover{
     -moz-box-shadow: inset 0 0 10px #888;
-webkit-box-shadow: inset 0 0 10px #888;
box-shadow: inner 0 0 10px #888;
   }
  .gif_tick{
    overflow: visible; 
    text-align:center;
  }
  .pset_pbar {
    width:187px;
    float:left;
    margin-left:3.7%;
    margin-top:3.7%;
  }
  .shelf {
margin-top:100px;
margin-right: 0px;
margin-bottom: 50px;
margin-left: 0px;

}

.shelf .shelf_ul {
    margin: 23px 0;
    padding: 0;
    height: 19px;
    border-bottom: 8px solid pink;
    background-color: #ccc;
}
 
    .shelf .shelf_ul:before {
        border-right: 38px solid transparent;
        border-top: 18px solid #FFFFFF;
        content: "";
        float: left;
        margin: 0;
        width: 0;
    }
 
    .shelf .shelf_ul:after {
        border-left: 38px solid transparent;
        border-top: 18px solid #FFFFFF;
        content: "";
        float: right;
        margin: 0;
        width: 0;
    }
 
.shelf .shelf_ul .shelf_li {
    float: left;
    list-style: none outside none;
    margin: -28px 10px 0;
    padding: 3px;
    position: relative;
    text-align: center;
    width: 80px;
    height:75px;
}
 .shelf .st_img {
  border-radius:50%;
  margin-top:-40px;

 }

 .shelf .st_img:hover{
  transform: rotateY(50deg);
-webkit-transform: rotateY(50deg);
 }
.shelf_ul a {

    padding: 7px;
    display: block;
    text-decoration: none;
    color: #fff;
}
#points{
  background-color:orange;
  padding-top:17px;
  padding-bottom:15px;
  margin-top:-13px;
  color:white;
}
#points:hover{
  background-image: linear-gradient(bottom, rgb(79,245,112) 11%, rgb(17,199,212) 56%);
background-image: -o-linear-gradient(bottom, rgb(79,245,112) 11%, rgb(17,199,212) 56%);
background-image: -moz-linear-gradient(bottom, rgb(79,245,112) 11%, rgb(17,199,212) 56%);
background-image: -webkit-linear-gradient(bottom, rgb(79,245,112) 11%, rgb(17,199,212) 56%);
background-image: -ms-linear-gradient(bottom, rgb(79,245,112) 11%, rgb(17,199,212) 56%);

background-image: -webkit-gradient(
  linear,
  left bottom,
  left top,
  color-stop(0.11, rgb(79,245,112)),
  color-stop(0.56, rgb(17,199,212))
);
}
.plate{
  background-color:purple;
  font-family: 'Home_hand';
  font-size:30px;
}

.plate:hover{
  -webkit-transition: all 0.5s ease-in-out 0s;
-webkit-border-radius: 10px;
  }

.dropdown-toggle2{
  background-image: url('/assets/envelope.png');
background-position-x: -20px;
border: none;
background-color: transparent;
background-position-y: -10px;
margin-top: -20px;
height: 60px;
width: 100%;
box-shadow: none;
-webkit-box-shadow: none;
-moz-box-shadow: none;


}
.dropdown-toggle2:hover{

background-position-x: -20px;
border: none;
background-color: transparent;
background-position-y: -10px;
}
