// Place all the styles related to the teachers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


form { position:relative }
span.select {
  border:1px solid gray;
  position:absolute;
  bottom:0;
  float:left;
  left:0;

  text-indent:10px;
  background:url(select_arrow.jpg) no-repeat right center;
  cursor:default;
  z-index:1;
  font-size: 13px;
  padding:3px;
}
select.select {
  position:relative;
  padding:3px;
  margin:0;
}

ul.teacher-class-col {
  height: 170px;
  width: 250px;
  margin: 20px;
  overflow: scroll;
}

.class-overview {
  margin-bottom:25px;
}

.teacher-details-body {
  margin-bottom:25px;
}

.inline-form {
  margin-left:20px;
  display: inline-block;
  &>input[type="text"] {
    font-size:18px;
  }
  label {
    display: inline-block;
    font-size:15px;
    margin-right:5px;
  }
  .select {
    font-size:15px;
    height:25px;
  }
  .button-blue {
    margin-top:9px;
    margin-left:5px;
  }
}
#classroom{
        box-shadow: 0 0 15px #777;
        margin: 0 auto;
        text-align: left;
        width: 800px;
        border-left: 10px solid #36a0b0;
        border-right: 10px solid #aec833;
        position: relative;
    }
    #classroom_name{
        position: absolute;
        top: 45% ;
        font-family:"Lane_Narrow", Arial, Helvetica, sans-serif;
        text-transform: uppercase;  
        text-shadow: 2px 2px 3px rgba(255,255,255,0.1);
        font-size: 25px;
        font-weight: bold;
        left: 5%;
    }
    #classroom_stat{
        padding-top: 4px;
        padding-bottom: 4px;
        float: right;
    }
    .student_class_password {
        display: inline-block;
        padding: 5px 7px;
        border: 1px solid gray;
        background: maroon;
        color: white;
    }

    .teacher_class_password {
        display: inline-block;
        padding: 5px 7px;
        border: 1px solid gray;
        background: maroon;
        color: white;
    }