// Place all the styles related to the topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#topic_desc {
padding:20px;
margin-bottom:10px;
background-color: #c0392b;
color:white;
border-radius: 10px;
h4 {
	font-size:24px;
	font-weight: bold;
	border-bottom: 1px solid #ccc;
	padding-bottom:20px;
}
}
.media{
	padding-top:20px;
	margin-top:10px;
}
#add_comm{
	margin:10px;
}
#comm_all{
	max-width:1000px;
	margin-left:auto;
	margin-right:auto;
}
#discussion_p{
	img{
	width:80px;
	margin-top: -50px;
}
}
.topic_you{
	width:400px; height:250px; display:block; margin-left:auto; margin-right:auto;
}
.replies{
	margin-left: 50px;
}
.comment-reply{
	float: left;
background-color: $sg_green;
border-radius: 15px;
padding: 10px;
margin-left: 20px;
color:white;
max-width: 450px;
}
.comments{
	margin-top:70px;
	
}