// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'mixins_n_colors';
#problemhist {
  @include rounded-corners(5px);
  float:right;
  width:230px;
  border:2px solid $graphite;
  padding:5px 15px;
  h2 {
    width:200px;
    text-align:center;
  }
  div {
    a {
      float:left;
      text-decoration:none;
      width:200px;
      display:block;
    }
    img {
      float:left;
    }
  }
}

.problemscores {
  li {
    font-size:1.25em;
    padding:5px;
    height:25px;
    div { 
      float:right;
    }
  }
}

.quizSmartscore {
  //color:white;
  //background-color:#4545cf;

  margin:10px 0px;
  font-size:1.35em;
  padding:5px;
  text-align:center;
  @include rounded-corners(5px);
}

.smartscore {
  text-align:center;
  padding:5px;
  width:50px;
  height:20px;
  color:white;
  @include rounded-corners(5px);
}
