// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'mixins_n_colors';
#problemhist {
  @include rounded-corners(5px);
  float:right;
  width:230px;
  border:2px solid $graphite;
  padding:5px 15px;
  h2 {
    width:200px;
    text-align:center;
  }
  div {
    a {
      float:left;
      text-decoration:none;
      width:200px;
      display:block;
    }
    img {
      float:left;
    }
  }
}

.quizlist {
  min-height:377px;
}

.problemscores {
  ul {
    margin-top:15px;
  }
  li {
    margin-top:7px;
    padding:2px 0;
    //height:25px;
    //border-bottom:1px solid black;
    div.smartscore { 
      padding:0px 0;
      float:right;
    }
  }
}

.quizSmartscore {
  //color:white;
  //background-color:#4545cf;

  margin:10px 0px;
  font-size:19px;
  //padding:5px;
  @include rounded-corners(5px);
  div { float:right; }
}
.probh {
  font-size:11px;
}

.smartscore {
  text-align:center;
  padding:5px;
  width:50px;
  height:20px;
  color:black;
  @include rounded-corners(5px);
}
