div.exponent {
	display:inline;

	}
.numb{display:inline-table;}
	.numb p{
    display:inline;


	-webkit-margin-before: 0em;
-webkit-margin-after: 0em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
   
  }

  .expo{
  display:inline-table;
  padding-right:10px;
  font-size:15px;
  	vertical-align:super;
  -webkit-margin-before: 0em;
-webkit-margin-after: 0em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;

  }
	
  .expo input{
  vertical-align:10px;
  width:20px;



  }
	