div.permutationDrag {
  position:relative;
  padding: 5px;
  @include rounded-corners(2px);
  background-color:white;
  cursor:move;
}

div.permutationDrag > div {
  padding:15px;
  margin:0px;
  // border: 1px solid $sgGreen;
  background-color:$light_green;
  display:inline-block;
  position:absolute;
  z-index:21;
  @include unselectable();
}
div.permutationDrag > div.fixed {
  padding:15px 7px;
  background-color:#ccc;
}

div.permutationDragAnswer {
  padding: 5px;
  @include rounded-corners(2px);
}

div.permutationDragAnswer > div {
  padding:20px 10px 20px 10px;
  border: 1px solid black;
  display:inline-block;
  @include unselectable();
}
