<h2 class="math_head">Euclid</h2>
<h4 class="math_tag">Father of Geometry</h4>
<div id="math_history">
	<p>Euclid gathered all of the knowledge developed in Greek mathematics at that time and created his great work, a book called 'The Elements' (c300 BCE). This treatise is unequaled in the history of science and could safely lay claim to being the most influential non-religious book of all time. Euclid probably attended Plato's academy in Athens before moving to Alexandria, in Egypt. At this time, the city had a huge library and the ready availability of papyrus made it the center for books, the major reasons why great minds such as Heron of Alexandria and Euclid based themselves there. Euclid may be known as the father of geometry, but his book 'The Elements' is much more than that. He proved a lot of interesting theorems including that there are infinite prime numbers.</p>
</div>
<iframe class="math_video" width="640" height="360" src="//www.youtube.com/embed/WqzK3UAXaHs" frameborder="0" allowfullscreen></iframe>


