<h2>Euclid</h2>
<h4>Father of Geometry</h4>
<div id="math_image">
	<img src="http://www.nndb.com/people/724/000087463/euclid-1-sized.jpg"/>
</div>
<div id="math_history">
	<p>Euclid gathered all of the knowledge developed in Greek mathematics at that time and created his great work, a book called 'The Elements' (c300 BCE). This treatise is unequaled in the history of science and could safely lay claim to being the most influential non-religious book of all time. Euclid probably attended Plato's academy in Athens before moving to Alexandria, in Egypt. At this time, the city had a huge library and the ready availability of papyrus made it the center for books, the major reasons why great minds such as Heron of Alexandria and Euclid based themselves there.</p>
</div>