<h2>Quiz</h2>
<%= link_to_function "Back", 'hideProblem()', :class => 'pull-right button-blue', :style=>'z-index:10;' %>
<%= render "problems/nameless_form", :@problem => @problem %>


<div class='row-fluid calculations'>
  <%= render 'problems/side_notepad' %>
</div>