<div class="row">
  	<ul class=column-list>
  		<h2>Your Quiz Stats</h2>
  		
		<% @quiz_stats.each_with_index do |stat, i| %>
			<% i +=1 %>
			<li>
				<%= "Chapter " + i.to_s %>
				
				<%= link_to "#{stat.remaining} Problem left", "#", :class => "pull-right" %>
			</li>
		<% end %>
	</ul>
</div>

<div id="problem_overlay" class="problem_overlay" style="display: block;">
  <%= render :partial => 'do_quiz' %>
</div>
<script>
  $(initProblem);
</script>
