 <div class=row-fluid>
    <%= render 'shared/shelf', :@student => current_user %>
    
</div>
 <ul class=column-list>
  	<h2>Quiz Result</h2>
    <% @answers.each do |answer| %>
      	<li>
          <% if answer.correct %>
      		<%= link_to answer.problem_type.to_s, "#", :class => "correct_hist" %>
          <% else %>
          <%= link_to answer.problem_type.to_s, "#", :class => "incorrect_hist" %>
          <%end%>
      	</li>
    <% end %>
</ul>

