<%- unless @problem_sets.blank? -%>
	<%= render "teachers/forms/details_problem_set_form", :type => "problem_sets" %>
<%- end -%>
<div class='teacher-details-body row-fluid'>
<!-- 	<div class="span4" style="width:30%">
		<div>
			<%#- unless @problem_sets.blank? -%>
				
				<%#= collection_select "get_details", "problem_set", @problem_sets, :id, :name %>
				<ul class="column-list" style="border:none">
					<%# @problem_sets.each do |pset| %>
					<li>
						<%#= link_to pset.name, details_path(@classroom.id, type: "problem_sets", problem_set_id: pset.id), remote: :true %>
					</li>
					<%# end %>
				</ul>
			<%#- else -%>
				No Problem Sets in the this classroom. Please add classroom!
			<%#- end -%>
		</div>
	</div> -->
	<div>
		<%- unless @problem_set.blank? -%>
			<div>
				<ul id="pset_tab" class="nav nav-tabs" style="font-family:Courier">
					<li class='active'><a href="#pset_charts" data-toggle="tab">Charts</a></li>
					<li><a href="#ptypes" data-toggle="tab">Problem Types</a></li>
				</ul>
			</div>
			<div id="pset_tab_content" class="tab-content" style="font-family:Courier">
				<%= render "pset_charts_ptypes" %>
			</div>
		<%- else -%>
				No Problem Sets in the this classroom. Please add classroom!
		<%- end -%>
	</div>
</div>
<script>
$('#pset_tab a').click(function (e) {
	e.preventDefault();
	$(this).tab('show');
})
</script>
