<div class="row-fluid">
	<%- unless @students.blank? -%>
		<%= render "teachers/forms/details_student_form", :type => "students" %>
	<%- end -%>
	
	<div id="check">
		<% unless @student.nil? %>
			<div>
				<ul id="student_tab" class="nav nav-tabs" style="font-family:Courier">
					<li class='active'><a href="#charts" data-toggle="tab">Charts</a></li>
					<li><a href="#problems" data-toggle="tab">Problems</a></li>
				</ul>
			</div>
			<div class="tab-content" style="font-family:Courier">
				<div id='charts' class='tab-pane active'>
				<%= render "students/student_pset_charts", :@student => @student %>
				</div>
				<div id='problems' class='tab-pane'>
				<%= render "students/show", :@problem_sets => @student.problem_sets %>
				</div>
			</div>
		<script>
$('#student_tab a').click(function (e) {
	e.preventDefault();
	$(this).tab('show');
})
</script>
		<% end %>
	</div>
</div>
